Repository Second-Hand-Friends/kleinanzeigen-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Â© Jens Bergmann and contributors
# SPDX-License-Identifier: AGPL-3.0-or-later
# SPDX-ArtifactOfProjectHomePage: https://github.com/Second-Hand-Friends/kleinanzeigen-bot/
#
# Pre-commit hooks configuration
# See https://pre-commit.com for more information
#
# Installation:
#   pdm install
#   pdm run hooks:install
#
# Manual run (all files):
#   pdm run hooks:run
#
# Update hooks to latest versions:
#   pdm run hooks:update

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: \.patch$
      - id: end-of-file-fixer
        exclude: \.patch$
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending

  # Python code formatting and linting via PDM
  - repo: local
    hooks:
      # Format Python code
      - id: format-python
        name: Format Python code (autopep8)
        entry: pdm run format:py
        language: system
        types: [python]
        pass_filenames: false

      # Format YAML files
      - id: format-yaml
        name: Format YAML files (yamlfix)
        entry: pdm run format:yaml
        language: system
        types: [yaml]
        pass_filenames: false

      # Lint with ruff
      - id: lint-ruff
        name: Lint with ruff
        entry: pdm run lint:ruff
        language: system
        types: [python]
        pass_filenames: false

      # Type check with mypy
      - id: lint-mypy
        name: Type check with mypy
        entry: pdm run lint:mypy
        language: system
        types: [python]
        pass_filenames: false

      # Type check with basedpyright
      - id: lint-pyright
        name: Type check with basedpyright
        entry: pdm run lint:pyright
        language: system
        types: [python]
        pass_filenames: false

      # Run all tests
      - id: test-all
        name: Run all tests (unit + integration + smoke)
        entry: pdm run test
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-commit]

fix: add safe logging around user-data-dir resolution
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

test: make browser itest opt-in
  tests/integration/test_web_scraping_mixin_integration.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: correct sell_directly extraction using JSON API
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: use proper json parsing and ad selection
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

chore: make the linter happy and add translation
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_extract.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: check url first, return bool, update tests
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

feat: enable manual executable builds for PR testing
  .github/workflows/build.yml
  README.md
  docs/TESTING_EXECUTABLES.md
Due: format-yaml

fix: use proper GitHub Actions expressions for artifact naming
  .github/workflows/build.yml
Due: format-yaml

docs: improve documentation structure and add Contributor Covenant badge
  README.md
  docs/TESTING_EXECUTABLES.md
Due: none

fix: prevent artifact name collisions for workflow_dispatch on main/release
  .github/workflows/build.yml
Due: format-yaml

fix: update CODE_OF_CONDUCT.md link to point to repository root
  docs/TESTING_EXECUTABLES.md
Due: none

fix: refactor artifact upload condition to avoid redundant evaluation
  .github/workflows/build.yml
Due: format-yaml

docs: add inline comment explaining artifact naming logic
  .github/workflows/build.yml
Due: format-yaml

fix: correct sell_directly extraction using JSON API (#765)
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_extract.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: stabilize publish contact fields
  schemas/config.schema.json
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: warn when phone field is unavailable
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: harden contact handling and location schema
  schemas/config.schema.json
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: align contact zip/location handling
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: align contact timeouts
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: handle unmatched location and zip input
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: don't pass extra to BaseModel.model_validate
  src/kleinanzeigen_bot/utils/pydantics.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

chore: mark extra arg as intentionally ignored
  src/kleinanzeigen_bot/utils/pydantics.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: raise pydantic version for compatibility
  pdm.lock
  pyproject.toml
Due: none

docs: clarify sell_directly for shipping_type
  README.md
Due: none

fix: raise pydantic version for compatibility (#773)
  pdm.lock
  pyproject.toml
Due: none

fix: don't pass extra to BaseModel.model_validate (#772)
  src/kleinanzeigen_bot/utils/pydantics.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

feat: Add extend command to extend ads before expiry (#732)
  README.md
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_extend_command.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: publishing contact fields and download stability (#771)
  README.md
  schemas/config.schema.json
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

Add retry logic for ad publishing (3 attempts)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

Address PR review feedback: narrow exception handling, add i18n, prevent duplicate ads
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

Refactor: retry only publish_ad, not result check (prevents duplicates)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

Also catch ProtocolException (element disappeared during access)
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

Fix: remove duplicate failed_count increment
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: Add retry logic for ad publishing (3 attempts before skipping) (#774)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(xdg): address CodeRabbit review feedback
  pyproject.toml
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/xdg_paths.py
  tests/unit/test_xdg_paths.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

feat(xdg): add core XDG path resolution module
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/xdg_paths.py
  tests/unit/test_xdg_paths.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(xdg): address remaining CodeRabbit feedback
  pyproject.toml
  src/kleinanzeigen_bot/utils/xdg_paths.py
  tests/unit/test_xdg_paths.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(xdg): remove obsolete German translations
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-yaml

feat(xdg): integrate XDG paths into bot core
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/update_checker.py
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: address CodeRabbit feedback and fix test_download_ad
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all
