Repository Second-Hand-Friends/kleinanzeigen-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

format-python:
  name: Format Python code (autopep8)
  entry: pdm run format:py
  language: system
  pass_filenames: false

format-yaml:
  name: Format YAML files (yamlfix)
  entry: pdm run format:yaml
  language: system
  pass_filenames: false

lint-ruff:
  name: Lint with ruff
  entry: pdm run lint:ruff
  language: system
  pass_filenames: false

lint-mypy:
  name: Type check with mypy
  entry: pdm run lint:mypy
  language: system
  pass_filenames: false

lint-pyright:
  name: Type check with basedpyright
  entry: pdm run lint:pyright
  language: system
  pass_filenames: false

test-all:
  name: Run all tests (unit + integration + smoke)
  entry: pdm run test
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs: shorten pip-only install note (#1189)
  README.md
Due: none

docs: generate README usage section
  README.md
  pyproject.toml
  scripts/check_generated_artifacts.py
  scripts/generate_readme_commands.py
  src/kleinanzeigen_bot/cli.py
  tests/unit/test_generate_readme_commands.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

docs: clarify generated usage help
  AGENTS.md
  README.md
  scripts/check_generated_artifacts.py
  src/kleinanzeigen_bot/cli.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

docs: generate README usage section (#1191)
  AGENTS.md
  README.md
  pyproject.toml
  scripts/check_generated_artifacts.py
  scripts/generate_readme_commands.py
  src/kleinanzeigen_bot/cli.py
  tests/unit/test_generate_readme_commands.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

docs: clarify download shipping inference
  README.md
Due: none

docs: refine download shipping wording
  README.md
Due: none

docs: clarify download shipping inference (#1192)
  README.md
Due: none

Add humanization attempts
  docs/config.default.yaml
  schemas/config.schema.json
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_humanization.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

Fix mypy tests
  tests/unit/test_humanization.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: address humanization review feedback
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_humanization.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: reject zero viewport sizes
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_humanization.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: respect explicit sleep bounds
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_humanization.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

chore: remove coderabbit keyword ignores
  .coderabbit.yaml
Due: format-yaml

feat: Add human-like interactions (#1193)
  docs/config.default.yaml
  schemas/config.schema.json
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_humanization.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: handle portal combobox attributes
  src/kleinanzeigen_bot/publishing_form.py
  tests/unit/test_publishing_form.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

chore: remove CodeRabbit keyword ignores (#1194)
  .coderabbit.yaml
Due: format-yaml

feat: show filenames in status output
  src/kleinanzeigen_bot/ad_status.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_ad_status.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: scope portal combobox fallback
  src/kleinanzeigen_bot/publishing_form.py
  tests/unit/test_publishing_form.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: simplify status table rendering
  src/kleinanzeigen_bot/ad_status.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: cover status filename table layout
  tests/unit/test_ad_status.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: normalize combobox value matching
  src/kleinanzeigen_bot/publishing_form.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

enh: Add screen-aware viewport sizing
  docs/config.default.yaml
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/integration/test_viewport_sizing.py
  tests/unit/test_app.py
  tests/unit/test_humanization.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

feat: show filenames in status output (#1196)
  src/kleinanzeigen_bot/ad_status.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_ad_status.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: Address viewport sizing follow-ups
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/integration/test_viewport_sizing.py
  tests/unit/test_app.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: handle portal combobox attributes (#1195)
  src/kleinanzeigen_bot/publishing_form.py
  tests/unit/test_publishing_form.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: Skip viewport sizing without real display
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/integration/test_viewport_sizing.py
  tests/unit/test_humanization.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: Address viewport review comments
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/integration/test_viewport_sizing.py
  tests/unit/test_humanization.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: Use portable browser path in viewport test
  tests/unit/test_humanization.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

enh: Add screen-aware viewport sizing (#1198)
  docs/config.default.yaml
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/integration/test_viewport_sizing.py
  tests/unit/test_humanization.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: resize viewport after opening page
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/integration/test_viewport_sizing.py
  tests/unit/test_humanization.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: address viewport review comments
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/integration/test_viewport_sizing.py
  tests/unit/test_humanization.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: cover viewport resize edge cases
  tests/unit/test_humanization.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: resize viewport after opening page (#1199)
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/integration/test_viewport_sizing.py
  tests/unit/test_humanization.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: simplify humanizer behavior
  docs/config.default.yaml
  schemas/config.schema.json
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/integration/test_viewport_sizing.py
  tests/unit/test_humanization.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: simplify humanizer behavior (#1200)
  docs/config.default.yaml
  schemas/config.schema.json
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/integration/test_viewport_sizing.py
  tests/unit/test_humanization.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

feat: improve status APR report
  README.md
  docs/AD_CONFIGURATION.md
  docs/CONFIGURATION.md
  src/kleinanzeigen_bot/ad_status.py
  src/kleinanzeigen_bot/app.py
  src/kleinanzeigen_bot/cli.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/smoke/test_smoke_health.py
  tests/unit/test_ad_status.py
  tests/unit/test_app.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

chore: clean up status APR report
  README.md
  src/kleinanzeigen_bot/cli.py
  src/kleinanzeigen_bot/price_reduction.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

feat: improve status APR report (#1201)
  README.md
  docs/AD_CONFIGURATION.md
  docs/CONFIGURATION.md
  src/kleinanzeigen_bot/ad_status.py
  src/kleinanzeigen_bot/app.py
  src/kleinanzeigen_bot/cli.py
  src/kleinanzeigen_bot/price_reduction.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/smoke/test_smoke_health.py
  tests/unit/test_ad_status.py
  tests/unit/test_app.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: prevent ambiguous title deletes
  docs/CONFIGURATION.md
  docs/config.default.yaml
  schemas/config.schema.json
  src/kleinanzeigen_bot/delete_flow.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_delete_flow.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: keep id deletes independent of title fetch
  src/kleinanzeigen_bot/delete_flow.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_delete_flow.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

Path conditions:
  format-python: any of: \.py$
  format-yaml: any of: \.(yaml|yml)$
  lint-ruff: any of: \.py$
  lint-mypy: any of: \.py$
  lint-pyright: any of: \.py$
  test-all: any of: \.py$
