Repository Second-Hand-Friends/kleinanzeigen-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

format-python:
  name: Format Python code (autopep8)
  entry: pdm run format:py
  language: system
  pass_filenames: false

format-yaml:
  name: Format YAML files (yamlfix)
  entry: pdm run format:yaml
  language: system
  pass_filenames: false

lint-ruff:
  name: Lint with ruff
  entry: pdm run lint:ruff
  language: system
  pass_filenames: false

lint-mypy:
  name: Type check with mypy
  entry: pdm run lint:mypy
  language: system
  pass_filenames: false

lint-pyright:
  name: Type check with basedpyright
  entry: pdm run lint:pyright
  language: system
  pass_filenames: false

test-all:
  name: Run all tests (unit + integration + smoke)
  entry: pdm run test
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix: match any numeric ID in template slot, not only YAML old_id
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

feat: resolve login credentials from environment variables
  README.md
  docs/CONFIGURATION.md
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

docs: fix MD031, add both env exports and plaintext warning
  docs/CONFIGURATION.md
Due: none

feat: resolve login credentials from environment variables (#1061)
  README.md
  docs/CONFIGURATION.md
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: improve local path renaming logs and fix template edge case
  docs/config.default.yaml
  schemas/config.schema.json
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: replace unicode arrow with ASCII in log messages for translation matcher
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: use path-based ad ID in rename summary, note YAML divergence
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: improve local path renaming status tracking and test quality
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: consolidate rename results into LocalPathRenameResult dataclass
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: introduce ImageRenameResult and fix SAME edge case
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: clean up local path rename logging and image helper purity
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: rollback image renames on save failure, stable logging, brittle test match
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_config_model.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: accurate debug messages for SAME vs NO_MATCH in file/folder rename helpers
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: remove duplicate web_sleep accidentally introduced in delete loop
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

feat: add opt-in local path renaming after ad republish (#1056)
  docs/config.default.yaml
  schemas/config.schema.json
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_config_model.py
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: move AdUpdateStrategy to ad_model and extract price_reduction module
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/ad_model.py
  src/kleinanzeigen_bot/price_reduction.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
  tests/unit/test_price_reduction.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: resolve CodeQL double-import of kleinanzeigen_bot in test_init.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: address CodeRabbit review — add ad_file_relative to price-reduction INFO logs, use identity assertion for AdUpdateStrategy re-export test
  src/kleinanzeigen_bot/price_reduction.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: add null-guards for auto_price_reduction=None in evaluate path and publish_ad
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/price_reduction.py
  tests/unit/test_price_reduction.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

chore: add __all__ to price_reduction.py, defensive asserts, re-export comment
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/price_reduction.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: translate mode_label and add warning for calculation_failed path (CodeRabbit fine-tuning)
  src/kleinanzeigen_bot/price_reduction.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: remove unused ImageRenameResult and LocalPathRenameResult imports (CodeQL py/unused-import)
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: add local None-guard for ad_cfg.auto_price_reduction in debug trace block (CodeRabbit: defense-in-depth for type checker)
  src/kleinanzeigen_bot/price_reduction.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: add debug logs before defensive early returns in apply path (CodeRabbit: silent guard paths)
  src/kleinanzeigen_bot/price_reduction.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: move AdUpdateStrategy to ad_model and extract price_reduction module (#1063)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/ad_model.py
  src/kleinanzeigen_bot/price_reduction.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
  tests/unit/test_price_reduction.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): dismiss 'Effektiver verkaufen' upsell dialog after submit click
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): dismiss 'Effektiver verkaufen' upsell dialog after submit click (#1066)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(update): include ads with pending auto price reductions in --ads changed
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/price_reduction.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
  tests/unit/test_price_reduction.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(update): include ads with pending auto price reductions in --ads changed (#1067)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/price_reduction.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
  tests/unit/test_price_reduction.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: extract LoginMixin and login detection types
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/login_mixin.py
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: normalize test imports to plain=root, alias=submodule convention
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: correct email verification warning wording in _check_email_verification
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/login_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

revert: return to flat sibling mixins with minimal TYPE_CHECKING
  src/kleinanzeigen_bot/utils/login_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: use Protocol to declare LoginMixin host dependency contract
  src/kleinanzeigen_bot/utils/login_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: satisfy CodeQL for login mixin protocol
  src/kleinanzeigen_bot/utils/login_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: extract local path renaming primitives and orchestrator into domain module
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/local_path_renaming.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
  tests/unit/test_local_path_renaming.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: address CodeRabbit and CodeQL review comments
  src/kleinanzeigen_bot/local_path_renaming.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

ci: use non-interactive apt-get with progress suppression flags
  .github/workflows/build.yml
Due: format-yaml

ci: use non-interactive apt-get with progress suppression flags (#1070)
  .github/workflows/build.yml
Due: format-yaml

test: add high-value coverage tests for local_path_renaming guards
  tests/unit/test_local_path_renaming.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

Path conditions:
  format-python: any of: \.py$
  format-yaml: any of: \.(yaml|yml)$
  lint-ruff: any of: \.py$
  lint-mypy: any of: \.py$
  lint-pyright: any of: \.py$
  test-all: any of: \.py$
