Repository Second-Hand-Friends/kleinanzeigen-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Â© Jens Bergmann and contributors
# SPDX-License-Identifier: AGPL-3.0-or-later
# SPDX-ArtifactOfProjectHomePage: https://github.com/Second-Hand-Friends/kleinanzeigen-bot/
#
# Pre-commit hooks configuration
# See https://pre-commit.com for more information
#
# Installation:
#   pdm install
#   pdm run hooks:install
#
# Manual run (all files):
#   pdm run hooks:run
#
# Update hooks to latest versions:
#   pdm run hooks:update

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: \.patch$
      - id: end-of-file-fixer
        exclude: \.patch$
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending

  # Python code formatting and linting via PDM
  - repo: local
    hooks:
      # Format Python code
      - id: format-python
        name: Format Python code (autopep8)
        entry: pdm run format:py
        language: system
        types: [python]
        pass_filenames: false

      # Format YAML files
      - id: format-yaml
        name: Format YAML files (yamlfix)
        entry: pdm run format:yaml
        language: system
        types: [yaml]
        pass_filenames: false

      # Lint with ruff
      - id: lint-ruff
        name: Lint with ruff
        entry: pdm run lint:ruff
        language: system
        types: [python]
        pass_filenames: false

      # Type check with mypy
      - id: lint-mypy
        name: Type check with mypy
        entry: pdm run lint:mypy
        language: system
        types: [python]
        pass_filenames: false

      # Type check with basedpyright
      - id: lint-pyright
        name: Type check with basedpyright
        entry: pdm run lint:pyright
        language: system
        types: [python]
        pass_filenames: false

      # Run all tests
      - id: test-all
        name: Run all tests (unit + integration + smoke)
        entry: pdm run test
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-commit]

ci: update CodeQL workflow
  .github/workflows/codeql-analysis.yml
Due: format-yaml

ci: update CodeQL workflow (#713)
  .github/workflows/codeql-analysis.yml
Due: format-yaml

chore: add markdownlint and fix markdown formatting
  .github/PULL_REQUEST_TEMPLATE.md
  .markdownlint-cli2.yaml
  .pre-commit-config.yaml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  docs/BROWSER_TROUBLESHOOTING.md
  docs/TESTING.md
  docs/update-check.md
Due: format-yaml

chore: name for the md hook
  .pre-commit-config.yaml
Due: format-yaml

fix: address CodeRabbit feedback and markdownlint errors
  .coderabbit.yaml
  README.md
  docs/BROWSER_TROUBLESHOOTING.md
Due: format-yaml

fix: wait for image upload completion before submitting ad (#715)
  schemas/config.schema.json
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

feat: Add Chrome 136+ safe defaults for browser configuration
  schemas/config.schema.json
  src/kleinanzeigen_bot/model/config_model.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: use _timeout() abstraction and wrap all log messages in _()
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

docs: add image_upload timeout to README configuration example
  README.md
Due: none

fix: re-add removed translation rule
  .coderabbit.yaml
Due: format-yaml

fix: remove whitespace
  .coderabbit.yaml
Due: format-yaml

feat: Add Chrome 136+ safe defaults for browser configuration (#717)
  schemas/config.schema.json
  src/kleinanzeigen_bot/model/config_model.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

chore: speed up defaults and fail fast
  README.md
  docs/BROWSER_TROUBLESHOOTING.md
  schemas/config.schema.json
  src/kleinanzeigen_bot/model/config_model.py
  tests/unit/test_extract.py
  tests/unit/test_web_scraping_mixin.py
  tests/unit/test_web_scraping_mixin_chrome_version.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: prevent crash in image upload polling and improve performance
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: correct image thumbnail selector for upload detection
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: add i18n to validation errors and improve type annotations
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_ad_model.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

feat: implement commercial rounding for percentage price reductions
  src/kleinanzeigen_bot/model/ad_model.py
  tests/unit/test_price_reduction.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

ci: Fix CodeQL security warnings
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish-release.yml
  .github/workflows/update-python-deps.yml
  .github/workflows/validate-pr-title.yml
  src/kleinanzeigen_bot/utils/reflect.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: Use correct CodeQL suppression format for py/unnecessary-delete
  src/kleinanzeigen_bot/utils/reflect.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: Correct CodeQL suppression format - remove trailing text
  src/kleinanzeigen_bot/utils/reflect.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

chore: remove redundant defaults
  .github/dependabot.yml
Due: format-yaml

chore: add grouping of actions updates
  .github/dependabot.yml
Due: format-yaml

fix: wrong indentation
  .github/dependabot.yml
Due: format-yaml

fix: make the rabbit happy
  .github/dependabot.yml
Due: format-yaml

fix: wait for image upload completion before submitting ad (#716)
  README.md
  schemas/config.schema.json
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

feat: Use GitHub auto-generated release notes instead of single commit message
  .github/workflows/build.yml
Due: format-yaml

chore: remove stackoverflow link
  .github/workflows/build.yml
Due: format-yaml

feat: Use GitHub auto-generated release notes instead of single commit message (#724)
  .github/workflows/build.yml
Due: format-yaml

ci: Fix CodeQL security warnings (#720)
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish-release.yml
  .github/workflows/update-python-deps.yml
  .github/workflows/validate-pr-title.yml
  src/kleinanzeigen_bot/utils/reflect.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: increase login detection timeout to fix intermittent failures (#701)
  schemas/config.schema.json
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/config_model.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

docs: add login_detection timeout to README and troubleshooting guide
  README.md
  docs/BROWSER_TROUBLESHOOTING.md
Due: none

refactor: improve code quality and documentation for auto price reduction
  README.md
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/ad_model.py
  tests/unit/test_price_reduction.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: gate auto price reduction to REPLACE + docs + i18n
  README.md
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/ad_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

debug: add detailed logging for login detection diagnostics
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: improve login detection logic and add i18n translations
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: Windows cross-drive path handling + comprehensive test coverage
  README.md
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/ad_model.py
  tests/unit/test_ad_model.py
  tests/unit/test_init.py
  tests/unit/test_price_reduction.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: address PR review feedback for auto-pricing feature
  README.md
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
  tests/unit/test_price_reduction.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: handle Unicode normalization in save_dict for umlauts (#728)
  src/kleinanzeigen_bot/utils/dicts.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: add translation wrapper & translation
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: handle unicode normalization in save_dict
  src/kleinanzeigen_bot/utils/dicts.py
  tests/unit/test_dicts.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all
