Repository Second-Hand-Friends/kleinanzeigen-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

format-python:
  name: Format Python code (autopep8)
  entry: pdm run format:py
  language: system
  pass_filenames: false

format-yaml:
  name: Format YAML files (yamlfix)
  entry: pdm run format:yaml
  language: system
  pass_filenames: false

lint-ruff:
  name: Lint with ruff
  entry: pdm run lint:ruff
  language: system
  pass_filenames: false

lint-mypy:
  name: Type check with mypy
  entry: pdm run lint:mypy
  language: system
  pass_filenames: false

lint-pyright:
  name: Type check with basedpyright
  entry: pdm run lint:pyright
  language: system
  pass_filenames: false

test-all:
  name: Run all tests (unit + integration + smoke)
  entry: pdm run test
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs: explain that an empty browser.user_data_dir means a fresh login each run (#1281)
  docs/BROWSER_TROUBLESHOOTING.md
  docs/config.default.yaml
  schemas/config.schema.json
  src/kleinanzeigen_bot/model/config_model.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: select the correct condition dialog without a trigger ID (#1284)
  src/kleinanzeigen_bot/publishing_form.py
  tests/unit/test_publishing_form.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(extract): load the anonymous fallback in an incognito browser context
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_extract.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix!: report form validation errors and fail unsuccessful batches (#1285)
  README.md
  src/kleinanzeigen_bot/publishing_submission.py
  src/kleinanzeigen_bot/publishing_workflow.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/exceptions.py
  tests/integration/test_publishing_validation.py
  tests/unit/test_cli.py
  tests/unit/test_publishing_submission.py
  tests/unit/test_publishing_workflow.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(extract): fetch the anonymous fallback via urllib again
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(extract): do not let a truncated response abort the download
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

chore: Update Python dependencies
  pdm.lock
Due: none

chore: Update Python dependencies (#1291)
  pdm.lock
Due: none

test: add browser regression test for the hidden start-page marker
  docs/BROWSER_TROUBLESHOOTING.md
  docs/CONFIGURATION.md
  src/kleinanzeigen_bot/login_flow.py
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/fixtures/astro_start_page_logged_in_header.html
  tests/integration/test_web_scraping_mixin_integration.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: recognise logged-in marker inside display:none header on redesigned start page (#1283)
  docs/BROWSER_TROUBLESHOOTING.md
  docs/CONFIGURATION.md
  src/kleinanzeigen_bot/login_flow.py
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/fixtures/astro_start_page_logged_in_header.html
  tests/integration/test_web_scraping_mixin_integration.py
  tests/unit/test_login_flow.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

feat: warn when the browser viewport is too narrow for the desktop layout
  docs/BROWSER_TROUBLESHOOTING.md
  docs/CONFIGURATION.md
  docs/config.default.yaml
  schemas/config.schema.json
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/integration/test_web_scraping_mixin_integration.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: correct viewport_sizes advice and narrow-viewport symptoms
  docs/BROWSER_TROUBLESHOOTING.md
  docs/CONFIGURATION.md
  docs/config.default.yaml
  schemas/config.schema.json
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: floor viewport jitter at the mobile-layout breakpoint
  docs/BROWSER_TROUBLESHOOTING.md
  docs/CONFIGURATION.md
  docs/config.default.yaml
  schemas/config.schema.json
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_humanization.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

docs: describe the narrow-viewport failure as a navigation timeout in browser.arguments
  docs/config.default.yaml
  schemas/config.schema.json
  src/kleinanzeigen_bot/model/config_model.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

feat: warn when the browser viewport is too narrow for the desktop layout (#1293)
  docs/BROWSER_TROUBLESHOOTING.md
  docs/CONFIGURATION.md
  docs/config.default.yaml
  schemas/config.schema.json
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/integration/test_web_scraping_mixin_integration.py
  tests/unit/test_humanization.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: restore LD_LIBRARY_PATH for child processes of the frozen Linux binary
  src/kleinanzeigen_bot/cli.py
  tests/unit/test_cli.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test(extract): keep the island creation-date tests offline
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): wait for readonly ad-city input to converge on target location
  src/kleinanzeigen_bot/publishing_form.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_publishing_form.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(download): fall back to price island prop when #viewad-price is empty
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_extract.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: read attributes and seller name from island data in redesigned ad pages
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: cover island attribute and seller name fallbacks
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(extract): fall back to the anonymous ad page for missing dimensions (#1282)
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/fixtures/anonymous_ad_dimensions_sample.json
  tests/unit/test_extract.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): wait for readonly ad-city input to converge on target location (#1296)
  src/kleinanzeigen_bot/publishing_form.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_publishing_form.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: restore LD_LIBRARY_PATH for child processes of the frozen Linux binary (#1294)
  src/kleinanzeigen_bot/cli.py
  tests/unit/test_cli.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(download): normalize island price fallback
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(download): fall back to price island prop when #viewad-price is empty (#1298)
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_extract.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(extract): keep display casing of DOM attribute values and cover attribute precedence
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: read attributes and seller name from island data in redesigned ad pages (#1299)
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: open the ad overview on its first, unfiltered page
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_bulk_ad_actions.py
  tests/unit/test_web_scraping_pagination.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(update): reset the stored ad overview state before opening it via navigation
  src/kleinanzeigen_bot/publishing_workflow.py
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_publishing_workflow.py
  tests/unit/test_web_scraping_pagination.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: share one browser across the browser integration tests
  tests/integration/conftest.py
  tests/integration/test_publishing_validation.py
  tests/integration/test_web_scraping_mixin_integration.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: move the ad overview URL pinning to a domain module
  src/kleinanzeigen_bot/ad_overview.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_ad_overview.py
  tests/unit/test_bulk_ad_actions.py
  tests/unit/test_web_scraping_pagination.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

test: reload the shared blank page between integration tests
  tests/integration/conftest.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: drop the redundant narrow-viewport browser test
  tests/integration/conftest.py
  tests/integration/test_web_scraping_mixin_integration.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: share one browser across the browser integration tests (#1305)
  tests/integration/conftest.py
  tests/integration/test_publishing_validation.py
  tests/integration/test_web_scraping_mixin_integration.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: run the ad overview state reset against real sessionStorage
  tests/integration/test_ad_overview_state.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: open the ad overview on its first, unfiltered page (#1304)
  src/kleinanzeigen_bot/ad_overview.py
  src/kleinanzeigen_bot/publishing_workflow.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/integration/test_ad_overview_state.py
  tests/unit/test_ad_overview.py
  tests/unit/test_bulk_ad_actions.py
  tests/unit/test_publishing_workflow.py
  tests/unit/test_web_scraping_pagination.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

style: format tests/unit/test_extract.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

style: format tests/unit/test_extract.py (#1306)
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

ci: fail the build when code is not formatted
  .github/workflows/build.yml
Due: format-yaml

Path conditions:
  format-python: any of: \.py$
  format-yaml: any of: \.(yaml|yml)$
  lint-ruff: any of: \.py$
  lint-mypy: any of: \.py$
  lint-pyright: any of: \.py$
  test-all: any of: \.py$
