Repository Second-Hand-Friends/kleinanzeigen-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Â© Jens Bergmann and contributors
# SPDX-License-Identifier: AGPL-3.0-or-later
# SPDX-ArtifactOfProjectHomePage: https://github.com/Second-Hand-Friends/kleinanzeigen-bot/
#
# Pre-commit hooks configuration
# See https://pre-commit.com for more information
#
# Installation:
#   pdm install
#   pdm run hooks:install
#
# Manual run (all files):
#   pdm run hooks:run
#
# Update hooks to latest versions:
#   pdm run hooks:update

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: \.patch$
      - id: end-of-file-fixer
        exclude: \.patch$
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending

  # Python code formatting and linting via PDM
  - repo: local
    hooks:
      # Format Python code
      - id: format-python
        name: Format Python code (autopep8)
        entry: pdm run format:py
        language: system
        types: [python]
        pass_filenames: false

      # Format YAML files
      - id: format-yaml
        name: Format YAML files (yamlfix)
        entry: pdm run format:yaml
        language: system
        types: [yaml]
        pass_filenames: false

      # Lint with ruff
      - id: lint-ruff
        name: Lint with ruff
        entry: pdm run lint:ruff
        language: system
        types: [python]
        pass_filenames: false

      # Type check with mypy
      - id: lint-mypy
        name: Type check with mypy
        entry: pdm run lint:mypy
        language: system
        types: [python]
        pass_filenames: false

      # Type check with basedpyright
      - id: lint-pyright
        name: Type check with basedpyright
        entry: pdm run lint:pyright
        language: system
        types: [python]
        pass_filenames: false

      # Run all tests
      - id: test-all
        name: Run all tests (unit + integration + smoke)
        entry: pdm run test
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-commit]

fix: use Python 3.12 for local act runs
  .actrc
Due: none

fix: use Python 3.12 for local act runs (#1241)
  .actrc
Due: none

fix: support ptrace-restricted browser containers
  docs/BROWSER_TROUBLESHOOTING.md
  docs/CONFIGURATION.md
  docs/config.default.yaml
  schemas/config.schema.json
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/runtime_config.py
  src/kleinanzeigen_bot/utils/browser_diagnostics.py
  src/kleinanzeigen_bot/utils/browser_runtime_config.py
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_config_model.py
  tests/unit/test_runtime_config.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: handle restricted procfs capabilities
  src/kleinanzeigen_bot/utils/browser_diagnostics.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

ci: review nested YAML files
  .coderabbit.yaml
Due: format-yaml

fix: support ptrace-restricted browser containers (#1242)
  .coderabbit.yaml
  docs/BROWSER_TROUBLESHOOTING.md
  docs/CONFIGURATION.md
  docs/config.default.yaml
  schemas/config.schema.json
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/runtime_config.py
  src/kleinanzeigen_bot/utils/browser_diagnostics.py
  src/kleinanzeigen_bot/utils/browser_runtime_config.py
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_config_model.py
  tests/unit/test_runtime_config.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: handle idless update confirmations
  src/kleinanzeigen_bot/publishing_submission.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_publishing_submission.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: translate idless update recovery error
  src/kleinanzeigen_bot/publishing_submission.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: handle idless update confirmations (#1244)
  src/kleinanzeigen_bot/publishing_submission.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_publishing_submission.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: support redesigned ad page layout (Astro island fallback)
  src/kleinanzeigen_bot/extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: address PR review comments
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

test: fix unit tests for review-comment changes
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_extract.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: cover Astro component data fallbacks
  .gitignore
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_extract.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

test: cover Astro fallback edge cases
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: harden Astro fallback extraction
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: support redesigned ad page layout (Astro island fallback) (#1249)
  .gitignore
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_extract.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: migrate publishing form selectors from XPath to CSS/By.TEXT
  src/kleinanzeigen_bot/publishing_form.py
  src/kleinanzeigen_bot/publishing_submission.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: add German translations for new publishing log messages
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-yaml

test: update unit tests for CSS/By.TEXT selector migration
  tests/unit/test_publishing_form.py
  tests/unit/test_publishing_submission.py
  tests/unit/test_publishing_workflow.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: address CodeRabbit review findings on PR #1251
  src/kleinanzeigen_bot/publishing_form.py
  src/kleinanzeigen_bot/publishing_submission.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: update tests for CodeRabbit review fixes
  tests/unit/test_publishing_form.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

docs: add missing docstrings to satisfy 80% docstring coverage threshold
  src/kleinanzeigen_bot/publishing_form.py
  src/kleinanzeigen_bot/publishing_submission.py
  tests/unit/test_publishing_form.py
  tests/unit/test_publishing_submission.py
  tests/unit/test_publishing_workflow.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: add coverage for patch-uncovered branches
  tests/unit/test_publishing_form.py
  tests/unit/test_publishing_submission.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

docs: add docstrings to inner closures and helpers to meet 80% threshold
  tests/unit/test_publishing_form.py
  tests/unit/test_publishing_submission.py
  tests/unit/test_publishing_workflow.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: show ad file path in validation errors
  src/kleinanzeigen_bot/ad_loading.py
  tests/unit/test_ad_loading.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: address maintainer review on PR #1251
  src/kleinanzeigen_bot/publishing_form.py
  src/kleinanzeigen_bot/publishing_submission.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: add German translations for new condition dialog error messages
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-yaml

test: update tests for maintainer review fixes on PR #1251
  tests/unit/test_publishing_form.py
  tests/unit/test_publishing_submission.py
  tests/unit/test_publishing_workflow.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: retain ad file context after defaults
  src/kleinanzeigen_bot/ad_loading.py
  src/kleinanzeigen_bot/model/ad_model.py
  tests/unit/test_ad_loading.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: migrate publishing form selectors from XPath to CSS/By.TEXT (#1251)
  src/kleinanzeigen_bot/publishing_form.py
  src/kleinanzeigen_bot/publishing_submission.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_publishing_form.py
  tests/unit/test_publishing_submission.py
  tests/unit/test_publishing_workflow.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: show ad file path in validation errors (#1253)
  src/kleinanzeigen_bot/ad_loading.py
  src/kleinanzeigen_bot/model/ad_model.py
  tests/unit/test_ad_loading.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: preserve decoded Astro island props (#1255)
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: preserve decoded Astro island props (#1260)
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: remove unused shipping selectors
  src/kleinanzeigen_bot/publishing_form.py
  tests/unit/test_publishing_form.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: remove unused shipping selectors (#1261)
  src/kleinanzeigen_bot/publishing_form.py
  tests/unit/test_publishing_form.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

enh: continue downloading after individual ad failures
  src/kleinanzeigen_bot/download_flow.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_download_flow.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

enh: continue downloading after individual ad failures (#1262)
  src/kleinanzeigen_bot/download_flow.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_download_flow.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

feat: add reserve/activate commands to toggle an ad's reserved state
  README.md
  src/kleinanzeigen_bot/app.py
  src/kleinanzeigen_bot/cli.py
  src/kleinanzeigen_bot/reserve_flow.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/runtime_config.py
  tests/unit/test_reserve_flow.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: confirm reservation state changes
  src/kleinanzeigen_bot/reserve_flow.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_publishing_submission.py
  tests/unit/test_reserve_flow.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all
