Repository Second-Hand-Friends/kleinanzeigen-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

format-python:
  name: Format Python code (autopep8)
  entry: pdm run format:py
  language: system
  pass_filenames: false

format-yaml:
  name: Format YAML files (yamlfix)
  entry: pdm run format:yaml
  language: system
  pass_filenames: false

lint-ruff:
  name: Lint with ruff
  entry: pdm run lint:ruff
  language: system
  pass_filenames: false

lint-mypy:
  name: Type check with mypy
  entry: pdm run lint:mypy
  language: system
  pass_filenames: false

lint-pyright:
  name: Type check with basedpyright
  entry: pdm run lint:pyright
  language: system
  pass_filenames: false

test-all:
  name: Run all tests (unit + integration + smoke)
  entry: pdm run test
  language: system
  pass_filenames: false
  stages:
  - pre-commit

test: consolidate template slot tests and tighten alias check
  tests/unit/test_init.py
  tests/unit/test_local_path_renaming.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: extract local path renaming primitives and orchestrator into domain module (#1069)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/local_path_renaming.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
  tests/unit/test_local_path_renaming.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

build: migrate nodriver to upstream 0.50.3 with encoding fix
  .github/workflows/build.yml
  pdm.lock
  pyproject.toml
  scripts/fix_nodriver_encoding.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: fail loudly when nodriver fix script cannot read target file
  scripts/fix_nodriver_encoding.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: add stale-session retry and DOM.enable routing patches for nodriver 0.50.3
  scripts/fix_nodriver_encoding.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: handle nodriver 0.50.3 flat-mode session issues on Chromium 148+
  scripts/fix_nodriver_encoding.py
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: remove duplicate assignment flagged by CodeQL
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: fail fast when nodriver files cannot be located for patching
  scripts/fix_nodriver_encoding.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

chore: mark ProtocolException handler as no-cover (needs live CDP)
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

build: migrate nodriver to upstream 0.50.3 with post-install compat fixes (#1071)
  .github/workflows/build.yml
  pdm.lock
  pyproject.toml
  scripts/fix_nodriver_encoding.py
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

chore: rename fix_nodriver_encoding.py to fix_nodriver.py
  pyproject.toml
  scripts/fix_nodriver.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

chore: rename fix_nodriver_encoding.py to fix_nodriver.py (#1073)
  pyproject.toml
  scripts/fix_nodriver.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: extract ad_content and ad_form_helpers domain modules
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/ad_content.py
  src/kleinanzeigen_bot/ad_form_helpers.py
  tests/unit/test_ad_content.py
  tests/unit/test_ad_form_helpers.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: rename ad_content -> ad_description and trim superficial tests
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/ad_description.py
  tests/unit/test_ad_description.py
  tests/unit/test_ad_form_helpers.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: restore condition probe compatibility
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/ad_description.py
  tests/unit/test_init.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

docs: clarify condition value probing
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: prefer canonical condition probes
  src/kleinanzeigen_bot/__init__.py
  tests/conftest.py
  tests/unit/test_extend_command.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: remove ad description wrapper
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_ad_description.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

chore: ensure translation
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

ci: publish multi-arch docker image instead of racing single-arch pushes
  .github/workflows/build.yml
Due: format-yaml

refactor: extract ad_content and ad_form_helpers domain modules (#1076)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/ad_description.py
  src/kleinanzeigen_bot/ad_form_helpers.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/conftest.py
  tests/unit/test_ad_description.py
  tests/unit/test_ad_form_helpers.py
  tests/unit/test_extend_command.py
  tests/unit/test_init.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

ci: publish multi-arch docker manifest
  .github/workflows/build.yml
  .github/workflows/publish-release.yml
  .github/workflows/update-python-deps.yml
  pdm.lock
  pyproject.toml
Due: format-yaml

ci: fix windows upx extraction pattern
  .github/workflows/build.yml
Due: format-yaml

ci: restore recursive upx archive matching
  .github/workflows/build.yml
Due: format-yaml

ci: publish multi-arch docker manifest (#1080)
  .github/workflows/build.yml
  .github/workflows/publish-release.yml
  .github/workflows/update-python-deps.yml
  pdm.lock
  pyproject.toml
Due: format-yaml

fix: align docker tags with release channels
  .github/workflows/build.yml
  README.md
Due: format-yaml

fix: align Docker tags with release channels (#1081)
  .github/workflows/build.yml
  README.md
Due: format-yaml

fix: redact contact zipcode from logs
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

chore: format AGENTS.md
  AGENTS.md
Due: none

docs: update agent playbook
  AGENTS.md
Due: none

fix: redact contact zipcode from logs (#1082)
  AGENTS.md
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: rename nodriver hook logs
  scripts/fix_nodriver.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

docs: update agent playbook (#1083)
  AGENTS.md
Due: none

fix: rename nodriver hook logs (#1084)
  scripts/fix_nodriver.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: extract delete and download state helpers
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/ad_state.py
  src/kleinanzeigen_bot/download_selection.py
  tests/unit/test_ad_state.py
  tests/unit/test_download_selection.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: remove local path rename wrappers
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/ad_state.py
  src/kleinanzeigen_bot/download_selection.py
  tests/unit/test_init.py
  tests/unit/test_local_path_renaming.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: route numeric selector checks through helper
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/download_selection.py
  tests/unit/test_download_selection.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: normalize relative ad paths
  src/kleinanzeigen_bot/ad_state.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: extract delete and download state helpers (#1085)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/ad_state.py
  src/kleinanzeigen_bot/download_selection.py
  tests/unit/test_ad_state.py
  tests/unit/test_download_selection.py
  tests/unit/test_init.py
  tests/unit/test_local_path_renaming.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

Path conditions:
  format-python: any of: \.py$
  format-yaml: any of: \.(yaml|yml)$
  lint-ruff: any of: \.py$
  lint-mypy: any of: \.py$
  lint-pyright: any of: \.py$
  test-all: any of: \.py$
