Repository Second-Hand-Friends/kleinanzeigen-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

format-python:
  name: Format Python code (autopep8)
  entry: pdm run format:py
  language: system
  pass_filenames: false

format-yaml:
  name: Format YAML files (yamlfix)
  entry: pdm run format:yaml
  language: system
  pass_filenames: false

lint-ruff:
  name: Lint with ruff
  entry: pdm run lint:ruff
  language: system
  pass_filenames: false

lint-mypy:
  name: Type check with mypy
  entry: pdm run lint:mypy
  language: system
  pass_filenames: false

lint-pyright:
  name: Type check with basedpyright
  entry: pdm run lint:pyright
  language: system
  pass_filenames: false

test-all:
  name: Run all tests (unit + integration + smoke)
  entry: pdm run test
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix: keep shipping_type SHIPPING for individual postage (#785)
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(login): deterministic auth probe + diagnostics for UNKNOWN
  README.md
  docs/BROWSER_TROUBLESHOOTING.md
  schemas/config.schema.json
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: address CodeRabbit review comments
  README.md
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/config_model.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: document docstring + update pause field description
  schemas/config.schema.json
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/config_model.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: add coverage for diagnostics pause validator
  tests/unit/test_config_model.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

docs: address CodeRabbit nitpick suggestions
  README.md
  schemas/config.schema.json
  src/kleinanzeigen_bot/model/config_model.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: extend command fails with >25 ads due to pagination (#789)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_extend_command.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

docs: clarify pause_on_login_detection_failure requires login_detection_capture
  README.md
Due: none

fix: unicode on windows is a mess
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

test: add comprehensive tests and timeout guards for pagination
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_extend_command.py
  tests/unit/test_extract.py
  tests/unit/test_web_scraping_pagination.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

style: apply autopep8 formatting to test files
  tests/unit/test_extend_command.py
  tests/unit/test_extract.py
  tests/unit/test_web_scraping_pagination.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

style: fix enum comparisons in mock_web_find for type-safety
  tests/unit/test_extend_command.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

feat: localize glob pattern validation error message
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: remove double translation wrapping and localize user prompts
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: extend command fails with >25 ads due to pagination (#793)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_extend_command.py
  tests/unit/test_extract.py
  tests/unit/test_web_scraping_pagination.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: auth probe + diagnostics for UNKNOWN states (#791)
  README.md
  docs/BROWSER_TROUBLESHOOTING.md
  schemas/config.schema.json
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_config_model.py
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: Handle email verification dialog (#782)
  README.md
  schemas/config.schema.json
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

docs: refactor guides for clearer navigation
  .markdownlint.json
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  docs/AD_CONFIGURATION.md
  docs/BROWSER_TROUBLESHOOTING.md
  docs/CONFIGURATION.md
  docs/INDEX.md
  docs/TESTING.md
  docs/UPDATE_CHECK.md
Due: none

docs: apply CodeRabbit review fixes
  README.md
  docs/AD_CONFIGURATION.md
  docs/BROWSER_TROUBLESHOOTING.md
  docs/INDEX.md
Due: none

ci: Enable manual workflow dispatch for PR binary artifacts
  .github/workflows/build.yml
Due: format-yaml

ci: Enable manual workflow dispatch for PR binary artifacts (#796)
  .github/workflows/build.yml
Due: format-yaml

feat: add JSON API pagination support for >25 ads
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_extract.py
  tests/unit/test_init.py
  tests/unit/test_json_pagination.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: prioritize DOM-based login detection over auth probe for stealth
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: resolve CodeRabbit feedback and CI failures
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_json_pagination.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: address CodeRabbit feedback
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_json_pagination.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: add debug logging and handle API indexing properly
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_json_pagination.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: stabilize pagination and tests
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_json_pagination.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: align pagination helpers and tests
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_extract.py
  tests/unit/test_json_pagination.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: cover extract sell_directly pagination branches
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: align extract pagination helpers and coverage
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/utils/misc.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: handle non-dict JSON in pagination
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

docs: update login detection order to DOM-first approach (#798)
  docs/BROWSER_TROUBLESHOOTING.md
  docs/CONFIGURATION.md
Due: none

fix: align pagination and test expectations
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/misc.py
  tests/unit/test_extract.py
  tests/unit/test_json_pagination.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: prioritize DOM-based login detection over auth probe for stealth (#798)
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

revert: restore CODE_OF_CONDUCT.md to pre-refactor state
  CODE_OF_CONDUCT.md
Due: none

docs: remove UPDATE_CHECK.md and consolidate into CONFIGURATION.md
  docs/CONFIGURATION.md
  docs/INDEX.md
  docs/UPDATE_CHECK.md
Due: none

chore: replaced markdownlint with markdownlint-cli2
  .markdownlint-cli2.jsonc
  .markdownlint.json
Due: none

test: cover pagination timeout branch
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_json_pagination.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: harden pagination parsing
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_extract.py
  tests/unit/test_json_pagination.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

docs: refactor guides for clearer navigation (#795)
  .markdownlint-cli2.jsonc
  CONTRIBUTING.md
  README.md
  docs/AD_CONFIGURATION.md
  docs/BROWSER_TROUBLESHOOTING.md
  docs/CONFIGURATION.md
  docs/INDEX.md
  docs/TESTING.md
  docs/update-check.md
Due: none

Path conditions:
  format-python: any of: \.py$
  format-yaml: any of: \.(yaml|yml)$
  lint-ruff: any of: \.py$
  lint-mypy: any of: \.py$
  lint-pyright: any of: \.py$
  test-all: any of: \.py$
