Repository Second-Hand-Friends/kleinanzeigen-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

format-python:
  name: Format Python code (autopep8)
  entry: pdm run format:py
  language: system
  pass_filenames: false

format-yaml:
  name: Format YAML files (yamlfix)
  entry: pdm run format:yaml
  language: system
  pass_filenames: false

lint-ruff:
  name: Lint with ruff
  entry: pdm run lint:ruff
  language: system
  pass_filenames: false

lint-mypy:
  name: Type check with mypy
  entry: pdm run lint:mypy
  language: system
  pass_filenames: false

lint-pyright:
  name: Type check with basedpyright
  entry: pdm run lint:pyright
  language: system
  pass_filenames: false

test-all:
  name: Run all tests (unit + integration + smoke)
  entry: pdm run test
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix(update): stabilize optional probes and image replacement on edit pages
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

test: clean low-signal init tests and tighten marker access
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(update): fail fast on required buy-now and image cleanup
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/ad_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_ad_model.py
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

test(ad_model): cover shipping_costs sequence validation branches
  tests/unit/test_ad_model.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor(update): extract marker parsing and tighten validator typing
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/ad_model.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(update): propagate buy-now opt-out interaction failures
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(update): use single-attempt marker probe before cleanup
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test(init): reduce brittle probe-count assertions
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(update): clarify captcha context logging on non-login pages
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(update): map captcha context to cli operation names
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(update): stabilize edit-flow probes and image cleanup (#973)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/ad_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_ad_model.py
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(update): harden per-ad retries and location convergence (#940)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(update): address PR review — city ambiguity, empty ZIP skip, except comment (#940)
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(update): harden per-ad retries and location convergence (#975)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

refactor(publish): rename __react_input to __set_input_value
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor(publish): rename __react_input to __set_input_value (#980)
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

Fixed #979
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(ad): reject titles exceeding 65 characters (#979)
  schemas/ad.schema.json
  src/kleinanzeigen_bot/model/ad_model.py
  tests/unit/test_ad_model.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(ad): validate title length via pre-validator for stability
  src/kleinanzeigen_bot/model/ad_model.py
  tests/unit/test_ad_model.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(ad): localize title-length validator messages and pin limit test
  src/kleinanzeigen_bot/model/ad_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_ad_model.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(ad): reject titles exceeding 65 characters (#982)
  schemas/ad.schema.json
  src/kleinanzeigen_bot/model/ad_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_ad_model.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(core): correct progress counter in publish/update ad loops
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

feat(timing): tune default timeouts and migrate optional probes to web_probe
  docs/config.default.yaml
  schemas/config.schema.json
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/config_model.py
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(core): correct progress counter in publish/update ad loops (#984)
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor(test): remove pinned timeout float values from probe assertions
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

feat(config): remove orphaned gdpr_prompt timeout and deduplicate docs
  docs/CONFIGURATION.md
  docs/config.default.yaml
  schemas/config.schema.json
  src/kleinanzeigen_bot/model/config_model.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(test): use assert_awaited_once + await_args for web_probe assertions
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

style(docs): fix markdownlint errors in CONFIGURATION.md and AD_CONFIGURATION.md
  docs/AD_CONFIGURATION.md
  docs/CONFIGURATION.md
Due: none

fix(test): normalize await_args consistency in banner probe tests
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(test): add missing web_sleep assertion in _click_gdpr_banner found test
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

feat(timing): tune default timeouts and migrate optional probes to web_probe (#985)
  docs/AD_CONFIGURATION.md
  docs/CONFIGURATION.md
  docs/config.default.yaml
  schemas/config.schema.json
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/config_model.py
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

enh(publish): normalize continue to break at max-retries exhaustion
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

enh(publish): normalize continue to break at max-retries exhaustion (#989)
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

ci: replace github-app app id with client id
  .github/workflows/publish-release.yml
  .github/workflows/update-python-deps.yml
Due: format-yaml

fix(publish): add confirmation redirect fallback to recover ad ID
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): catch IndexError/ValueError from adId extraction during fast redirect
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): harden fallback helper against per-layer browser timeouts
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): add confirmation redirect fallback to recover ad ID (#993)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(delete): report actual deletion outcome instead of always succeeding
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(delete): reduce per-iteration log noise to DEBUG level
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

Path conditions:
  format-python: any of: \.py$
  format-yaml: any of: \.(yaml|yml)$
  lint-ruff: any of: \.py$
  lint-mypy: any of: \.py$
  lint-pyright: any of: \.py$
  test-all: any of: \.py$
