Repository Second-Hand-Friends/kleinanzeigen-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Â© Jens Bergmann and contributors
# SPDX-License-Identifier: AGPL-3.0-or-later
# SPDX-ArtifactOfProjectHomePage: https://github.com/Second-Hand-Friends/kleinanzeigen-bot/
#
# Pre-commit hooks configuration
# See https://pre-commit.com for more information
#
# Installation:
#   pdm install
#   pdm run hooks:install
#
# Manual run (all files):
#   pdm run hooks:run
#
# Update hooks to latest versions:
#   pdm run hooks:update

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: \.patch$
      - id: end-of-file-fixer
        exclude: \.patch$
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending

  # Python code formatting and linting via PDM
  - repo: local
    hooks:
      # Format Python code
      - id: format-python
        name: Format Python code (autopep8)
        entry: pdm run format:py
        language: system
        types: [python]
        pass_filenames: false

      # Format YAML files
      - id: format-yaml
        name: Format YAML files (yamlfix)
        entry: pdm run format:yaml
        language: system
        types: [yaml]
        pass_filenames: false

      # Lint with ruff
      - id: lint-ruff
        name: Lint with ruff
        entry: pdm run lint:ruff
        language: system
        types: [python]
        pass_filenames: false

      # Type check with mypy
      - id: lint-mypy
        name: Type check with mypy
        entry: pdm run lint:mypy
        language: system
        types: [python]
        pass_filenames: false

      # Type check with basedpyright
      - id: lint-pyright
        name: Type check with basedpyright
        entry: pdm run lint:pyright
        language: system
        types: [python]
        pass_filenames: false

      # Run all tests
      - id: test-all
        name: Run all tests (unit + integration + smoke)
        entry: pdm run test
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-commit]

ci: fail the build when code is not formatted (#1307)
  .github/workflows/build.yml
Due: format-yaml

feat: add online listings and configurable publishing
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish-release.yml
  .github/workflows/update-python-deps.yml
  .gitignore
  README.md
  docs/CONFIGURATION.md
  docs/config.default.yaml
  schemas/config.schema.json
  src/kleinanzeigen_bot/app.py
  src/kleinanzeigen_bot/cli.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/published_ads.py
  src/kleinanzeigen_bot/publishing_form.py
  src/kleinanzeigen_bot/publishing_submission.py
  src/kleinanzeigen_bot/publishing_workflow.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/runtime_config.py
  tests/integration/test_package_selection.py
  tests/unit/test_config_model.py
  tests/unit/test_i18n.py
  tests/unit/test_list_command.py
  tests/unit/test_publishing_form.py
  tests/unit/test_publishing_submission.py
  tests/unit/test_publishing_workflow.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

Fix login detection
  src/kleinanzeigen_bot/login_flow.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: read the delete CSRF token from the redesigned manage-ads page
  src/kleinanzeigen_bot/delete_flow.py
  tests/integration/test_delete_csrf_token.py
  tests/unit/test_delete_flow.py
  tests/unit/test_publishing_form.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: read the delete CSRF token from the redesigned manage-ads page (#1313)
  src/kleinanzeigen_bot/delete_flow.py
  tests/integration/test_delete_csrf_token.py
  tests/unit/test_delete_flow.py
  tests/unit/test_publishing_form.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: ignore stray slashes in configured category paths
  src/kleinanzeigen_bot/publishing_form.py
  tests/unit/test_publishing_form.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

ci: squash-merge dependency PRs automatically
  .github/workflows/build.yml
Due: format-yaml

ci: squash-merge dependency PRs automatically (#1317)
  .github/workflows/build.yml
Due: format-yaml

fix: reject category paths that consist only of slashes
  src/kleinanzeigen_bot/publishing_form.py
  tests/unit/test_publishing_form.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

style: annotate test context managers with Generator
  tests/unit/test_publishing_form.py
  tests/unit/test_publishing_workflow.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: ignore stray slashes in configured category paths (#1316)
  src/kleinanzeigen_bot/publishing_form.py
  tests/unit/test_publishing_form.py
  tests/unit/test_publishing_workflow.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

ci: make event diagnostics and Chromium installation resilient
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish-release.yml
  .github/workflows/update-python-deps.yml
Due: format-yaml

test: isolate platform locale and browser diagnostics
  tests/unit/test_i18n.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: recover ad IDs from HTML-encoded titles
  src/kleinanzeigen_bot/publishing_submission.py
  tests/unit/test_publishing_submission.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: detect editor validation errors without duplicate submits
  src/kleinanzeigen_bot/publishing_submission.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/integration/test_publishing_validation.py
  tests/unit/test_publishing_submission.py
  tests/unit/test_publishing_workflow.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: retain vehicle text attributes after rerenders
  src/kleinanzeigen_bot/publishing_form.py
  src/kleinanzeigen_bot/publishing_submission.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_publishing_form.py
  tests/unit/test_publishing_submission.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

feat: configure manual or free Basis package selection
  README.md
  docs/CONFIGURATION.md
  docs/config.default.yaml
  schemas/config.schema.json
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/publishing_submission.py
  src/kleinanzeigen_bot/publishing_workflow.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/exceptions.py
  tests/integration/test_package_selection.py
  tests/unit/test_config_model.py
  tests/unit/test_publishing_submission.py
  tests/unit/test_publishing_workflow.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

feat: list online account ads
  README.md
  src/kleinanzeigen_bot/app.py
  src/kleinanzeigen_bot/cli.py
  src/kleinanzeigen_bot/published_ads.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/runtime_config.py
  tests/unit/test_list_command.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: recover ad IDs from HTML-encoded titles (#1320)
  src/kleinanzeigen_bot/publishing_submission.py
  tests/unit/test_publishing_submission.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: isolate platform locale and browser diagnostics (#1319)
  tests/unit/test_i18n.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

ci: make event diagnostics and Chromium installation resilient (#1318)
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish-release.yml
  .github/workflows/update-python-deps.yml
Due: format-yaml

test: drop redundant handler guards from the list command fake
  tests/unit/test_list_command.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

docs: explain the paused state label in the online ad list
  src/kleinanzeigen_bot/published_ads.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

feat: list online account ads (#1321)
  README.md
  src/kleinanzeigen_bot/app.py
  src/kleinanzeigen_bot/cli.py
  src/kleinanzeigen_bot/published_ads.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/runtime_config.py
  tests/unit/test_list_command.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: keep list help in the literal help text blocks
  CONTRIBUTING.md
  src/kleinanzeigen_bot/cli.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_list_command.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: keep list help in the literal help text blocks (#1327)
  CONTRIBUTING.md
  src/kleinanzeigen_bot/cli.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_list_command.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

chore: log page layout hints to debug Astro redesign issues
  docs/CONFIGURATION.md
  src/kleinanzeigen_bot/app.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/login_flow.py
  src/kleinanzeigen_bot/publishing_form.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

docs: ask for publish diagnostics JSON in bug reports
  .github/ISSUE_TEMPLATE/bug.yml
Due: format-yaml

docs: warn about personal data in publish diagnostics
  .github/ISSUE_TEMPLATE/bug.yml
  docs/CONFIGURATION.md
Due: format-yaml

chore: log page layout hints to debug Astro redesign issues (#1330)
  .github/ISSUE_TEMPLATE/bug.yml
  docs/CONFIGURATION.md
  src/kleinanzeigen_bot/app.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/login_flow.py
  src/kleinanzeigen_bot/publishing_form.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all
