Repository Second-Hand-Friends/kleinanzeigen-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

format-python:
  name: Format Python code (autopep8)
  entry: pdm run format:py
  language: system
  pass_filenames: false

format-yaml:
  name: Format YAML files (yamlfix)
  entry: pdm run format:yaml
  language: system
  pass_filenames: false

lint-ruff:
  name: Lint with ruff
  entry: pdm run lint:ruff
  language: system
  pass_filenames: false

lint-mypy:
  name: Type check with mypy
  entry: pdm run lint:mypy
  language: system
  pass_filenames: false

lint-pyright:
  name: Type check with basedpyright
  entry: pdm run lint:pyright
  language: system
  pass_filenames: false

test-all:
  name: Run all tests (unit + integration + smoke)
  entry: pdm run test
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix: reuse normalized parent directory for save_dict
  src/kleinanzeigen_bot/utils/dicts.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

chore: simplify unicode parent lookup in save_dict
  src/kleinanzeigen_bot/utils/dicts.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: simplify save_dict path handling
  src/kleinanzeigen_bot/utils/dicts.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: simplify the new test
  tests/unit/test_dicts.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: simplify unicode normalization case
  src/kleinanzeigen_bot/utils/dicts.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: simplify Unicode normalization fix for cross-platform compatibility
  src/kleinanzeigen_bot/utils/dicts.py
  tests/unit/test_dicts.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: normalize to NFC after sanitize to prevent cross-platform path mismatches
  src/kleinanzeigen_bot/utils/dicts.py
  src/kleinanzeigen_bot/utils/misc.py
  tests/unit/test_dicts.py
  tests/unit/test_extract.py
  tests/unit/test_utils_misc.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: handle Unicode normalization in save_dict for umlauts (#728) (#729)
  src/kleinanzeigen_bot/utils/dicts.py
  src/kleinanzeigen_bot/utils/misc.py
  tests/unit/test_dicts.py
  tests/unit/test_extract.py
  tests/unit/test_utils_misc.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

feat: Add extend command to extend ads before expiry (#664)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

test: Add comprehensive tests for extend command (90.9% coverage)
  tests/unit/test_extend_command.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: Resolve lint errors in test file
  tests/unit/test_extend_command.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: Resolve Windows encoding issue with German umlaut
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: Use proper JSON serialization in extend tests
  tests/unit/test_extend_command.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: Only count successful ad extensions, not attempts
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: increase login detection timeout to fix intermittent failures (#701) (#726)
  README.md
  docs/BROWSER_TROUBLESHOOTING.md
  schemas/config.schema.json
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

feat: Add XDG Base Directory specification support (#698)
  pyproject.toml
  schemas/config.schema.json
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/update_checker.py
  src/kleinanzeigen_bot/utils/pydantics.py
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  src/kleinanzeigen_bot/utils/xdg_paths.py
  tests/unit/test_extract.py
  tests/unit/test_init.py
  tests/unit/test_xdg_paths.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: polish xdg mode prompts and logging
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/xdg_paths.py
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

chore: appease analyzers for xdg base dir
  src/kleinanzeigen_bot/utils/xdg_paths.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

i18n: translate install prompt and harden stdin mocking
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/xdg_paths.py
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: use structured logger and translate debug messages
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/xdg_paths.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

feat: Add automatic price reduction on reposts (#691)
  README.md
  pyproject.toml
  schemas/ad.schema.json
  schemas/config.schema.json
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/ad_model.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/pydantics.py
  tests/unit/test_ad_model.py
  tests/unit/test_init.py
  tests/unit/test_price_reduction.py
  tests/unit/test_pydantics.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

ci: fix codeql triggers and release notes
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
Due: format-yaml

ci: use built-in env vars in release notes step
  .github/workflows/build.yml
Due: format-yaml

ci: fix codeql triggers and release notes (#736)
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
Due: format-yaml

ci: fix generate-notes for moving latest/preview releases
  .github/workflows/build.yml
Due: format-yaml

ci: harden release view and drop unused output
  .github/workflows/build.yml
Due: format-yaml

ci: remove unused step id and clarify fetch
  .github/workflows/build.yml
Due: format-yaml

ci: fix generate-notes for moving latest/preview releases (#738)
  .github/workflows/build.yml
Due: format-yaml

fix: address codeql notes and warnings
  scripts/post_autopep8.py
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/utils/loggers.py
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_extract.py
  tests/unit/test_init.py
  tests/unit/test_price_reduction.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

docs: add helper docstring in tests
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: lazy import translator to break cycle
  src/kleinanzeigen_bot/utils/loggers.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: use log level aliases consistently
  src/kleinanzeigen_bot/utils/loggers.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: address codeql notes and warnings (#740)
  scripts/post_autopep8.py
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/utils/loggers.py
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_extract.py
  tests/unit/test_init.py
  tests/unit/test_price_reduction.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: avoid mixed returns in pydantics
  src/kleinanzeigen_bot/utils/pydantics.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: ensure release notes diff with temp tags
  .github/workflows/build.yml
Due: format-yaml

chore: log temp tags for release notes
  .github/workflows/build.yml
Due: format-yaml

fix: avoid mixed returns in pydantics (#741)
  src/kleinanzeigen_bot/utils/pydantics.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: ensure release notes diff with temp tags (#742)
  .github/workflows/build.yml
Due: format-yaml

fix: generate release notes without temp tags
  .github/workflows/build.yml
Due: format-yaml

fix: generate release notes without temp tags (#743)
  .github/workflows/build.yml
Due: format-yaml

Path conditions:
  format-python: any of: \.py$
  format-yaml: any of: \.(yaml|yml)$
  lint-ruff: any of: \.py$
  lint-mypy: any of: \.py$
  lint-pyright: any of: \.py$
  test-all: any of: \.py$
