Repository Second-Hand-Friends/kleinanzeigen-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Â© Jens Bergmann and contributors
# SPDX-License-Identifier: AGPL-3.0-or-later
# SPDX-ArtifactOfProjectHomePage: https://github.com/Second-Hand-Friends/kleinanzeigen-bot/
#
# Pre-commit hooks configuration
# See https://pre-commit.com for more information
#
# Installation:
#   pdm install
#   pdm run hooks:install
#
# Manual run (all files):
#   pdm run hooks:run
#
# Update hooks to latest versions:
#   pdm run hooks:update

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: \.patch$
      - id: end-of-file-fixer
        exclude: \.patch$
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending

  # Python code formatting and linting via PDM
  - repo: local
    hooks:
      # Format Python code
      - id: format-python
        name: Format Python code (autopep8)
        entry: pdm run format:py
        language: system
        types: [python]
        pass_filenames: false

      # Format YAML files
      - id: format-yaml
        name: Format YAML files (yamlfix)
        entry: pdm run format:yaml
        language: system
        types: [yaml]
        pass_filenames: false

      # Lint with ruff
      - id: lint-ruff
        name: Lint with ruff
        entry: pdm run lint:ruff
        language: system
        types: [python]
        pass_filenames: false

      # Type check with mypy
      - id: lint-mypy
        name: Type check with mypy
        entry: pdm run lint:mypy
        language: system
        types: [python]
        pass_filenames: false

      # Type check with basedpyright
      - id: lint-pyright
        name: Type check with basedpyright
        entry: pdm run lint:pyright
        language: system
        types: [python]
        pass_filenames: false

      # Run all tests
      - id: test-all
        name: Run all tests (unit + integration + smoke)
        entry: pdm run test
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-commit]

refactor: remove dead wrapper methods from KleinanzeigenBot (#1172)
  src/kleinanzeigen_bot/app.py
  tests/unit/test_login_flow.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: decompose WebScrapingMixin (static helpers, diagnostics, exception annotations)
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/model/ad_model.py
  src/kleinanzeigen_bot/publishing_persistence.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/browser_diagnostics.py
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_web_scraping_mixin.py
  tests/unit/test_web_scraping_mixin_chrome_version.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: refine browser config split to remove shared-utils module
  src/kleinanzeigen_bot/utils/browser_diagnostics.py
  src/kleinanzeigen_bot/utils/browser_runtime_config.py
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: close urlopen responses and tighten BrowserConfig type hints
  src/kleinanzeigen_bot/utils/browser_diagnostics.py
  src/kleinanzeigen_bot/utils/browser_runtime_config.py
  src/kleinanzeigen_bot/utils/chrome_version_detector.py
  tests/integration/test_web_scraping_mixin_integration.py
  tests/unit/test_chrome_version_detector.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: replace positional arg assertions with assert_called_once
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: decompose WebScrapingMixin (static helpers, diagnostics, exception annotations) (#1174)
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/model/ad_model.py
  src/kleinanzeigen_bot/publishing_persistence.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/browser_diagnostics.py
  src/kleinanzeigen_bot/utils/browser_runtime_config.py
  src/kleinanzeigen_bot/utils/chrome_version_detector.py
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/integration/test_web_scraping_mixin_integration.py
  tests/unit/test_chrome_version_detector.py
  tests/unit/test_web_scraping_mixin.py
  tests/unit/test_web_scraping_mixin_chrome_version.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: target visible Auth0 submit button and broaden captcha detection (#1120)
  src/kleinanzeigen_bot/captcha_flow.py
  src/kleinanzeigen_bot/login_flow.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_login_flow.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: replace bare pass with debug logs in except blocks
  src/kleinanzeigen_bot/login_flow.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: wrap token-ready submit in try/except TimeoutError (#1176)
  src/kleinanzeigen_bot/login_flow.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: add unit tests for Auth0 captcha state handling (#1176)
  tests/unit/test_login_flow.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: use generic auth.example.com domain in new tests (#1176)
  tests/unit/test_login_flow.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: add final-attempt-after-prompt test for handle_identifier_captcha_state (#1176)
  tests/unit/test_login_flow.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: decouple fill_login_data_and_send from _click_auth0_submit internals
  tests/unit/test_login_flow.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: target visible Auth0 submit button and broaden captcha detection (#1120) (#1176)
  src/kleinanzeigen_bot/captcha_flow.py
  src/kleinanzeigen_bot/login_flow.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_login_flow.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

feat: add ad status command
  src/kleinanzeigen_bot/ad_loading.py
  src/kleinanzeigen_bot/ad_status.py
  src/kleinanzeigen_bot/app.py
  src/kleinanzeigen_bot/cli.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/runtime_config.py
  tests/unit/test_ad_status.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

feat: add ad status command (#1177)
  src/kleinanzeigen_bot/ad_loading.py
  src/kleinanzeigen_bot/ad_status.py
  src/kleinanzeigen_bot/app.py
  src/kleinanzeigen_bot/cli.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/runtime_config.py
  tests/unit/test_ad_status.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

feat: colorize status output
  src/kleinanzeigen_bot/ad_status.py
  src/kleinanzeigen_bot/app.py
  src/kleinanzeigen_bot/update_checker.py
  src/kleinanzeigen_bot/utils/color.py
  tests/unit/test_ad_status.py
  tests/unit/test_color.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

feat: colorize status output (#1178)
  src/kleinanzeigen_bot/ad_status.py
  src/kleinanzeigen_bot/app.py
  src/kleinanzeigen_bot/update_checker.py
  src/kleinanzeigen_bot/utils/color.py
  tests/unit/test_ad_status.py
  tests/unit/test_color.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

feat: show APR status indicators
  src/kleinanzeigen_bot/ad_status.py
  src/kleinanzeigen_bot/app.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_ad_status.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

feat: show APR status indicators (#1180)
  src/kleinanzeigen_bot/ad_status.py
  src/kleinanzeigen_bot/app.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_ad_status.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: classify Auth0 post-submit uncertainty
  src/kleinanzeigen_bot/login_flow.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_login_flow.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: address post-submit diagnostics review
  src/kleinanzeigen_bot/login_flow.py
  tests/unit/test_login_flow.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: redact Auth0 diagnostic URLs
  src/kleinanzeigen_bot/login_flow.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_login_flow.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: simplify Auth0 post-submit diagnostics
  src/kleinanzeigen_bot/login_flow.py
  tests/unit/test_login_flow.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: guard Auth0 post-submit URL predicate
  src/kleinanzeigen_bot/login_flow.py
  tests/unit/test_login_flow.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: classify Auth0 post-submit uncertainty (#1181)
  src/kleinanzeigen_bot/login_flow.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_login_flow.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: capture Auth0 post-submit diagnostics
  src/kleinanzeigen_bot/login_flow.py
  tests/unit/test_login_flow.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: capture Auth0 post-submit diagnostics (#1183)
  src/kleinanzeigen_bot/login_flow.py
  tests/unit/test_login_flow.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: handle DOM retry and button combobox selection
  src/kleinanzeigen_bot/publishing_form.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_publishing_form.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: warn about missing nodriver patch
  README.md
  scripts/fix_nodriver.py
  src/kleinanzeigen_bot/cli.py
  src/kleinanzeigen_bot/publishing_form.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_cli.py
  tests/unit/test_fix_nodriver.py
  tests/unit/test_publishing_form.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: address PR review follow-ups
  src/kleinanzeigen_bot/cli.py
  src/kleinanzeigen_bot/publishing_form.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_cli.py
  tests/unit/test_fix_nodriver.py
  tests/unit/test_publishing_form.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

test: cover nodriver guard edge cases
  tests/unit/test_cli.py
  tests/unit/test_publishing_form.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: avoid no-op cancellation cleanup
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: avoid combobox script implementation checks
  tests/unit/test_publishing_form.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: keep combobox contract assertion focused
  tests/unit/test_publishing_form.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: handle DOM retry and button combobox selection (#1186)
  README.md
  scripts/fix_nodriver.py
  src/kleinanzeigen_bot/cli.py
  src/kleinanzeigen_bot/publishing_form.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_cli.py
  tests/unit/test_fix_nodriver.py
  tests/unit/test_publishing_form.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: classify Auth0 IP range block
  src/kleinanzeigen_bot/login_flow.py
  tests/unit/test_login_flow.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: polish IP block classifier tests
  src/kleinanzeigen_bot/login_flow.py
  tests/unit/test_login_flow.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: classify Auth0 IP range block (#1188)
  src/kleinanzeigen_bot/login_flow.py
  tests/unit/test_login_flow.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

docs: shorten pip-only install note
  README.md
Due: none
