Repository Second-Hand-Friends/kleinanzeigen-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

format-python:
  name: Format Python code (autopep8)
  entry: pdm run format:py
  language: system
  pass_filenames: false

format-yaml:
  name: Format YAML files (yamlfix)
  entry: pdm run format:yaml
  language: system
  pass_filenames: false

lint-ruff:
  name: Lint with ruff
  entry: pdm run lint:ruff
  language: system
  pass_filenames: false

lint-mypy:
  name: Type check with mypy
  entry: pdm run lint:mypy
  language: system
  pass_filenames: false

lint-pyright:
  name: Type check with basedpyright
  entry: pdm run lint:pyright
  language: system
  pass_filenames: false

test-all:
  name: Run all tests (unit + integration + smoke)
  entry: pdm run test
  language: system
  pass_filenames: false
  stages:
  - pre-commit

test: cover no-listbox fallback wrong-value verification path
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: remove low-value special-characters combobox test
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): handle typeless combobox brand field with ArrowDown+Enter fallback (#944)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_init.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): use button-combobox dropdown for WANTED ad shipping selection (#943)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_init.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): use button-combobox dropdown for WANTED ad shipping selection (#948)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_init.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): normalize underscores in combobox search and clear with DOM events
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): preserve hyphens in combobox search, only convert underscores
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): normalize whitespace in combobox fallback verification
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): collapse consecutive whitespace after underscore normalization in combobox search
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): normalize underscores in combobox search and clear with DOM events (#947)
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(ci): replace deprecated tibdex/github-app-token with actions/create-github-app-token (#949)
  .github/workflows/publish-release.yml
  .github/workflows/update-python-deps.yml
Due: format-yaml

fix(ci): replace deprecated tibdex/github-app-token with actions/create-github-app-token (#951)
  .github/workflows/publish-release.yml
  .github/workflows/update-python-deps.yml
Due: format-yaml

fix(publish): enforce exact matching for qualified city targets (#926)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): scope city combobox options to city listbox
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): use keyboard-based input clearing for React/Vue comboboxes
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): use Cmd+A on macOS for keyboard-based input clearing
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor(publish): replace keyboard select-all with elem.select() + CDP Backspace
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor(test): clean up low-value and duplicate tests in web_scraping_mixin
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): use elem.select() + CDP Backspace to clear React/Vue inputs (#954)
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish,download): support condition_s for categories with combobox instead of dialog (#952)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_extract.py
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(download): catch TimeoutError for individual DOM detail rows in fallback extraction (#952)
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor(download): move DOM fallback lookup maps to module-level Final constants (#952)
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test(extract): remove low-value log-wording assertions from category tests (#952)
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test(extract): add coverage for DOM fallback edge cases (#952)
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish,download): support condition_s for categories with combobox instead of dialog (#955)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_extract.py
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): rewrite shipping dialog selectors for redesigned DOM (#956)
  docs/AD_CONFIGURATION.md
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/model/ad_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

refactor(test): clean up low-value and duplicate shipping tests
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_extract.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): clarify sell_directly requires shipping_options, add Fertig timeout
  docs/AD_CONFIGURATION.md
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(i18n): localize shipping validation exception messages
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): enable sell_directly with individual shipping, not just carrier packages
  docs/AD_CONFIGURATION.md
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

docs: fix sell_directly inline comment to match code behavior
  docs/AD_CONFIGURATION.md
Due: none

refactor(test): consolidate low-value and implementation-detail tests in shipping areas
  tests/unit/test_extract.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test(shipping): assert no DOM interaction in validation-error tests
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): rewrite shipping dialog selectors for redesigned DOM (#956) (#957)
  docs/AD_CONFIGURATION.md
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/model/ad_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_extract.py
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): reload form pages to prevent stale image state on retry (#958)
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): reload form pages to prevent stale image state on retry (#961)
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): sync shipping checkbox state in REPLACE mode (#956)
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test(shipping): tighten assertions and remove low-value test
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(shipping): use state-based checkbox sync for REPLACE mode (#962)
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: restore ASCII art logo. Fixes #963
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

Path conditions:
  format-python: any of: \.py$
  format-yaml: any of: \.(yaml|yml)$
  lint-ruff: any of: \.py$
  lint-mypy: any of: \.py$
  lint-pyright: any of: \.py$
  test-all: any of: \.py$
