Repository Second-Hand-Friends/kleinanzeigen-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Â© Jens Bergmann and contributors
# SPDX-License-Identifier: AGPL-3.0-or-later
# SPDX-ArtifactOfProjectHomePage: https://github.com/Second-Hand-Friends/kleinanzeigen-bot/
#
# Pre-commit hooks configuration
# See https://pre-commit.com for more information
#
# Installation:
#   pdm install
#   pdm run hooks:install
#
# Manual run (all files):
#   pdm run hooks:run
#
# Update hooks to latest versions:
#   pdm run hooks:update

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: \.patch$
      - id: end-of-file-fixer
        exclude: \.patch$
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending

  # Python code formatting and linting via PDM
  - repo: local
    hooks:
      # Format Python code
      - id: format-python
        name: Format Python code (autopep8)
        entry: pdm run format:py
        language: system
        types: [python]
        pass_filenames: false

      # Format YAML files
      - id: format-yaml
        name: Format YAML files (yamlfix)
        entry: pdm run format:yaml
        language: system
        types: [yaml]
        pass_filenames: false

      # Lint with ruff
      - id: lint-ruff
        name: Lint with ruff
        entry: pdm run lint:ruff
        language: system
        types: [python]
        pass_filenames: false

      # Type check with mypy
      - id: lint-mypy
        name: Type check with mypy
        entry: pdm run lint:mypy
        language: system
        types: [python]
        pass_filenames: false

      # Type check with basedpyright
      - id: lint-pyright
        name: Type check with basedpyright
        entry: pdm run lint:pyright
        language: system
        types: [python]
        pass_filenames: false

      # Run all tests
      - id: test-all
        name: Run all tests (unit + integration + smoke)
        entry: pdm run test
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-commit]

refactor: reduce return-count complexity (#1154)
  pyproject.toml
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/update_checker.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: split command orchestration handlers
  pyproject.toml
  src/kleinanzeigen_bot/app.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_app.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: split command orchestration handlers (#1155)
  pyproject.toml
  src/kleinanzeigen_bot/app.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_app.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: split browser session setup
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: use pathlib for browser profile setup
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: split browser session setup (#1156)
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: simplify browser diagnostics
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: explain skipped browser processes
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: simplify browser diagnostics (#1158)
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: remove individual shipping publishing
  docs/AD_CONFIGURATION.md
  docs/CONFIGURATION.md
  docs/config.default.yaml
  schemas/ad.schema.json
  schemas/config.schema.json
  src/kleinanzeigen_bot/model/ad_model.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/publishing_form.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_ad_model.py
  tests/unit/test_publishing_form.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

docs: clarify direct-buy requirements
  docs/AD_CONFIGURATION.md
  docs/CONFIGURATION.md
  docs/config.default.yaml
  schemas/config.schema.json
  src/kleinanzeigen_bot/model/config_model.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

docs: link shipping options from ad guide
  docs/AD_CONFIGURATION.md
Due: none

fix: fail fast on configured individual shipping without options
  docs/AD_CONFIGURATION.md
  docs/CONFIGURATION.md
  src/kleinanzeigen_bot/publishing_form.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_publishing_form.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: remove individual shipping publishing (#1159)
  docs/AD_CONFIGURATION.md
  docs/CONFIGURATION.md
  docs/config.default.yaml
  schemas/ad.schema.json
  schemas/config.schema.json
  src/kleinanzeigen_bot/model/ad_model.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/publishing_form.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_ad_model.py
  tests/unit/test_publishing_form.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

feat: use configured --remote-debugging-host for browser diagnostics probes
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_web_scraping_mixin.py
  tests/unit/test_web_scraping_mixin_chrome_version.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: use normalized host for is_port_open and API probe in diagnostics
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

feat: use configured --remote-debugging-host for browser diagnostics probes (#1160)
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_web_scraping_mixin.py
  tests/unit/test_web_scraping_mixin_chrome_version.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: extract special attribute helpers from publishing form
  pyproject.toml
  src/kleinanzeigen_bot/publishing_form.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: avoid TypeError abort when web_request gets a non-dict response
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: add coverage for special attribute dispatch edge paths
  tests/unit/test_publishing_form.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: remove redundant mock attribute assignments in special attr tests
  tests/unit/test_publishing_form.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: extract special attribute helpers from publishing form (#1161)
  pyproject.toml
  src/kleinanzeigen_bot/publishing_form.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_publishing_form.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: avoid TypeError abort when web_request gets a non-dict response (#1162)
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: split published ads pagination
  pyproject.toml
  src/kleinanzeigen_bot/published_ads.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/pydantics.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

test: add strict-mode and content-decode coverage for published ads helpers
  tests/unit/test_published_ads.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: split published ads pagination (#1164)
  pyproject.toml
  src/kleinanzeigen_bot/published_ads.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/pydantics.py
  tests/unit/test_published_ads.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: replace get_message_template match with dict lookup
  src/kleinanzeigen_bot/utils/pydantics.py
  tests/unit/test_translations.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: replace get_message_template match with dict lookup (#1165)
  src/kleinanzeigen_bot/utils/pydantics.py
  tests/unit/test_translations.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: separate download_ads workflow modes
  pyproject.toml
  src/kleinanzeigen_bot/download_flow.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: validate selector before fetching published ads metadata
  src/kleinanzeigen_bot/download_flow.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: separate download_ads workflow modes (#1166)
  pyproject.toml
  src/kleinanzeigen_bot/download_flow.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: extract shipping helpers from set_shipping
  src/kleinanzeigen_bot/publishing_form.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: extract shipping helpers from set_shipping (#1167)
  src/kleinanzeigen_bot/publishing_form.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: separate download ad persistence concerns
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: separate download ad persistence concerns (#1168)
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: extract selector and filter helpers from load_ads
  src/kleinanzeigen_bot/ad_loading.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_ad_loading.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: extract selector and filter helpers from load_ads (#1169)
  src/kleinanzeigen_bot/ad_loading.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_ad_loading.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: extract template name renderer from AdExtractor into pure function
  src/kleinanzeigen_bot/extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: extract template name renderer from AdExtractor (#1171)
  src/kleinanzeigen_bot/extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: remove dead wrapper methods from KleinanzeigenBot
  src/kleinanzeigen_bot/app.py
  tests/unit/test_login_flow.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all
