Repository Second-Hand-Friends/kleinanzeigen-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Â© Jens Bergmann and contributors
# SPDX-License-Identifier: AGPL-3.0-or-later
# SPDX-ArtifactOfProjectHomePage: https://github.com/Second-Hand-Friends/kleinanzeigen-bot/
#
# Pre-commit hooks configuration
# See https://pre-commit.com for more information
#
# Installation:
#   pdm install
#   pdm run hooks:install
#
# Manual run (all files):
#   pdm run hooks:run
#
# Update hooks to latest versions:
#   pdm run hooks:update

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: \.patch$
      - id: end-of-file-fixer
        exclude: \.patch$
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending

  # Python code formatting and linting via PDM
  - repo: local
    hooks:
      # Format Python code
      - id: format-python
        name: Format Python code (autopep8)
        entry: pdm run format:py
        language: system
        types: [python]
        pass_filenames: false

      # Format YAML files
      - id: format-yaml
        name: Format YAML files (yamlfix)
        entry: pdm run format:yaml
        language: system
        types: [yaml]
        pass_filenames: false

      # Lint with ruff
      - id: lint-ruff
        name: Lint with ruff
        entry: pdm run lint:ruff
        language: system
        types: [python]
        pass_filenames: false

      # Type check with mypy
      - id: lint-mypy
        name: Type check with mypy
        entry: pdm run lint:mypy
        language: system
        types: [python]
        pass_filenames: false

      # Type check with basedpyright
      - id: lint-pyright
        name: Type check with basedpyright
        entry: pdm run lint:pyright
        language: system
        types: [python]
        pass_filenames: false

      # Run all tests
      - id: test-all
        name: Run all tests (unit + integration + smoke)
        entry: pdm run test
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-commit]

fix: address oracle nitpicks
  src/kleinanzeigen_bot/captcha_flow.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: address coderabbit review findings
  src/kleinanzeigen_bot/publishing_flow.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_captcha_flow.py
  tests/unit/test_publishing_flow.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: address coderabbit review findings and add error-path coverage
  src/kleinanzeigen_bot/captcha_flow.py
  src/kleinanzeigen_bot/publishing_flow.py
  tests/unit/test_captcha_flow.py
  tests/unit/test_publishing_flow.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: extract captcha flow and submit/confirm to dedicated modules (#1111)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/captcha_flow.py
  src/kleinanzeigen_bot/publishing_flow.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_captcha_flow.py
  tests/unit/test_init.py
  tests/unit/test_publishing_flow.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: correct republication timing and content hash computation
  src/kleinanzeigen_bot/ad_loading.py
  tests/unit/test_ad_loading.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: correct republication timing and content hash computation (#1113)
  src/kleinanzeigen_bot/ad_loading.py
  tests/unit/test_ad_loading.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: close submit uncertainty gap and surface silent TOCTOU race
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/publishing_flow.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

test: add coverage for web_set_input_value TOCTOU race detection
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: disable diagnostics timing collection by default
  docs/config.default.yaml
  schemas/config.schema.json
  src/kleinanzeigen_bot/model/config_model.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: close submit uncertainty gap, surface silent TOCTOU race, and translate remaining TimeoutError messages (#1114)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/publishing_flow.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: disable diagnostics timing collection by default (#1115)
  docs/config.default.yaml
  schemas/config.schema.json
  src/kleinanzeigen_bot/model/config_model.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: apply after_delete policy when title-mode delete returns all-404 with id=None
  src/kleinanzeigen_bot/delete_flow.py
  tests/unit/test_delete_flow.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: assert DeleteResult type explicitly in delete_ad assertions
  tests/unit/test_delete_flow.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: apply after_delete policy when title-mode delete returns all-404 with id=None (#1116)
  src/kleinanzeigen_bot/delete_flow.py
  tests/unit/test_delete_flow.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

enh: skip runtime bootstrap for update-check command
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

enh: skip runtime bootstrap for update-check command (#1117)
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: extract publishing flow service
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/publishing_flow.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_extract.py
  tests/unit/test_init.py
  tests/unit/test_publishing_flow.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: address review comments and coverage
  src/kleinanzeigen_bot/publishing_flow.py
  tests/unit/test_publishing_flow.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: improve publishing flow coverage
  tests/unit/test_publishing_flow.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: harden buy-now coverage
  tests/unit/test_publishing_flow.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: expand publishing flow coverage
  tests/unit/test_publishing_flow.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: raise publishing flow coverage
  tests/unit/test_publishing_flow.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: improve contact coverage
  tests/unit/test_publishing_flow.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: address publishing flow review
  tests/unit/test_publishing_flow.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: extract publishing submission flow
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/publishing_flow.py
  src/kleinanzeigen_bot/publishing_submission.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
  tests/unit/test_publishing_flow.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: guard submission referrer fallback
  src/kleinanzeigen_bot/publishing_submission.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: exercise real stale referrer fallback
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: extract publishing submission flow (#1121)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/publishing_flow.py
  src/kleinanzeigen_bot/publishing_submission.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
  tests/unit/test_publishing_flow.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: click Auth0 Weiter after captcha (#1120)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: improve Auth0 Weiter selector
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: require visible Auth0 Weiter button
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: click Auth0 Weiter after captcha (#1120) (#1122)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: use canonical title for owned ad downloads
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: update German title resolution translation
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-yaml

test: avoid helper plumbing assertion
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: use canonical title for owned ad downloads (#1123)
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_extract.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: handle shipping select for pro accounts
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

docs: clarify shipping ui expectations
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: handle pro shipping combobox
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

test: relax shipping flow assertions
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all
