Repository Second-Hand-Friends/kleinanzeigen-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Â© Jens Bergmann and contributors
# SPDX-License-Identifier: AGPL-3.0-or-later
# SPDX-ArtifactOfProjectHomePage: https://github.com/Second-Hand-Friends/kleinanzeigen-bot/
#
# Pre-commit hooks configuration
# See https://pre-commit.com for more information
#
# Installation:
#   pdm install
#   pdm run hooks:install
#
# Manual run (all files):
#   pdm run hooks:run
#
# Update hooks to latest versions:
#   pdm run hooks:update

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: \.patch$
      - id: end-of-file-fixer
        exclude: \.patch$
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending

  # Python code formatting and linting via PDM
  - repo: local
    hooks:
      # Format Python code
      - id: format-python
        name: Format Python code (autopep8)
        entry: pdm run format:py
        language: system
        types: [python]
        pass_filenames: false

      # Format YAML files
      - id: format-yaml
        name: Format YAML files (yamlfix)
        entry: pdm run format:yaml
        language: system
        types: [yaml]
        pass_filenames: false

      # Lint with ruff
      - id: lint-ruff
        name: Lint with ruff
        entry: pdm run lint:ruff
        language: system
        types: [python]
        pass_filenames: false

      # Type check with mypy
      - id: lint-mypy
        name: Type check with mypy
        entry: pdm run lint:mypy
        language: system
        types: [python]
        pass_filenames: false

      # Type check with basedpyright
      - id: lint-pyright
        name: Type check with basedpyright
        entry: pdm run lint:pyright
        language: system
        types: [python]
        pass_filenames: false

      # Run all tests
      - id: test-all
        name: Run all tests (unit + integration + smoke)
        entry: pdm run test
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-commit]

fix(publish): normalize condition handling across controls
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_extract.py
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): retry all condition labels
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_extract.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test(publish): keep download-dir coverage
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): restore combobox semantics
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_init.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

docs(publish): explain special attribute helper
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): validate condition display candidates
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/ad_model.py
  tests/unit/test_ad_model.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): normalize legacy condition handling
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): prioritize mapped condition values (#1025)
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

Unify Linux and Mac installation command
  README.md
Due: none

docs: unify Linux and Mac installation command (#1028)
  README.md
Due: none

chore: pin nodriver to GitHub fork
  pdm.lock
  pyproject.toml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

docs: clarify nodriver fork reference
  pyproject.toml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: continue publishing when optional controls are absent (#1034)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

chore: switch nodriver fork source
  pdm.lock
  pyproject.toml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

chore: pin nodriver to GitHub fork (#1035)
  pdm.lock
  pyproject.toml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: tighten warning assertions
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: probe before skipping missing condition_s control
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: warn and continue when optional publish controls are missing (#1038)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

chore: bump nodriver to upstream 0.50.1 from fork
  pyproject.toml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

chore: refresh nodriver lockfile
  pdm.lock
Due: none

fix: streamline download selector handling
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: harden download extraction timeouts
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: streamline download selector handling (#1042)
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: compare preview release notes against latest
  .github/workflows/build.yml
Due: format-yaml

fix: compare preview release notes against latest (#1048)
  .github/workflows/build.yml
Due: format-yaml

fix: harden pickup shipping probe
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: harden pickup shipping probe (#1054)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: centralize condition normalization
  pyproject.toml
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

docs: document condition normalization helper
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: centralize condition normalization (#1055)
  pyproject.toml
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

feat: add opt-in local path renaming after ad republish (#TBD)
  docs/config.default.yaml
  schemas/config.schema.json
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_config_model.py
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: consolidate redundant kleinanzeigen_bot import in test_init.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: use as_posix() for cross-platform image path in local path renaming
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

docs: clarify TEMPLATE_MATCH interaction with download naming templates
  docs/config.default.yaml
  schemas/config.schema.json
  src/kleinanzeigen_bot/model/config_model.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): accept readonly <input> for ad-city (zip-derived value)
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

i18n: wrap new ad-city log message with _() and add DE translation
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(i18n): replace em-dash with ASCII hyphen for Windows-cp1252
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(i18n): drop _() wrapper from LOG.info — TranslatingLogger handles it
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): accept readonly <input> for ad-city (zip-derived value) (#1059)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all
