Repository Second-Hand-Friends/kleinanzeigen-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

format-python:
  name: Format Python code (autopep8)
  entry: pdm run format:py
  language: system
  pass_filenames: false

format-yaml:
  name: Format YAML files (yamlfix)
  entry: pdm run format:yaml
  language: system
  pass_filenames: false

lint-ruff:
  name: Lint with ruff
  entry: pdm run lint:ruff
  language: system
  pass_filenames: false

lint-mypy:
  name: Type check with mypy
  entry: pdm run lint:mypy
  language: system
  pass_filenames: false

lint-pyright:
  name: Type check with basedpyright
  entry: pdm run lint:pyright
  language: system
  pass_filenames: false

test-all:
  name: Run all tests (unit + integration + smoke)
  entry: pdm run test
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix: tighten pagination logging
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_extract.py
  tests/unit/test_json_pagination.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

feat: capture publish failure diagnostics
  docs/CONFIGURATION.md
  schemas/config.schema.json
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

feat: refine diagnostics capture config
  docs/CONFIGURATION.md
  schemas/config.schema.json
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/diagnostics.py
  tests/unit/test_config_model.py
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: simplify pagination using confirmed API structure
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_init.py
  tests/unit/test_json_pagination.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: resolve pagination infinite loop caused by incorrect API parameter
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/misc.py
  tests/unit/test_extract.py
  tests/unit/test_json_pagination.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: make diagnostics immutable and offload sync I/O to asyncio.to_thread
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/utils/diagnostics.py
  tests/unit/test_diagnostics.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: immutability and async I/O improvements for diagnostics
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/utils/diagnostics.py
  tests/unit/test_diagnostics.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: address CodeRabbit review comments and translation test failures
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/diagnostics.py
  tests/unit/test_diagnostics.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: translation organization and type annotation spacing
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-yaml

refactor: address CodeRabbit review comments for diagnostics and config
  docs/CONFIGURATION.md
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/utils/diagnostics.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: use CaptureOnConfig model for type-safe capture_on settings
  COMMIT_MSG.txt
  docs/CONFIGURATION.md
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/config_model.py
  tests/unit/test_config_model.py
  tests/unit/test_diagnostics.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

chore: remove temporary commit message file
  COMMIT_MSG.txt
Due: none

fix: remove dead code, fix translation mismatches, and align schema with model
  schemas/config.schema.json
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/diagnostics.py
  tests/unit/test_diagnostics.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: address CodeRabbit findings and configure review filters
  .coderabbit.yaml
  docs/CONFIGURATION.md
  schemas/config.schema.json
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/diagnostics.py
  tests/unit/test_config_model.py
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: final CodeRabbit improvements and configuration
  .coderabbit.yaml
  docs/CONFIGURATION.md
  src/kleinanzeigen_bot/model/config_model.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: fix type hint consistency in migrate_legacy_diagnostics_keys
  src/kleinanzeigen_bot/model/config_model.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

Update src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/model/config_model.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

docs(tests): fix incorrect comment about pagination behavior
  tests/unit/test_extract.py
  tests/unit/test_json_pagination.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

Update copyright information in diagnostics.py
  src/kleinanzeigen_bot/utils/diagnostics.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: add missing coverage for diagnostics and config_model
  src/kleinanzeigen_bot/model/config_model.py
  tests/unit/test_config_model.py
  tests/unit/test_diagnostics.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: JSON API Pagination for >25 Ads (#797)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/misc.py
  tests/unit/test_extract.py
  tests/unit/test_init.py
  tests/unit/test_json_pagination.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

feat: capture publish failure diagnostics with screenshot and logs
  .coderabbit.yaml
  docs/CONFIGURATION.md
  schemas/config.schema.json
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/diagnostics.py
  tests/unit/test_config_model.py
  tests/unit/test_diagnostics.py
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

feat: capture publish failure diagnostics with screenshot and logs (#802)
  .coderabbit.yaml
  docs/CONFIGURATION.md
  schemas/config.schema.json
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/diagnostics.py
  tests/unit/test_config_model.py
  tests/unit/test_diagnostics.py
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

feat: add descriptive comments to create-config output
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/dicts.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: add field descriptions to UpdateCheckConfig
  src/kleinanzeigen_bot/model/update_check_model.py
  src/kleinanzeigen_bot/utils/dicts.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: improve config examples and ensure all sections appear
  schemas/config.schema.json
  src/kleinanzeigen_bot/model/config_model.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

style: format examples on separate lines in config comments
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/utils/dicts.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

feat: format examples as YAML-style multiline lists
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/utils/dicts.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

feat: add visual separators between config sections
  src/kleinanzeigen_bot/utils/dicts.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

docs: clarify empty list/dict values in config descriptions
  src/kleinanzeigen_bot/model/config_model.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: address CodeRabbit review comments
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/utils/dicts.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

feat: show all config fields including optional/null values
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/utils/dicts.py
  tests/unit/test_config_model.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

feat: enhance config.yaml visual separators and example formatting
  schemas/ad.schema.json
  schemas/config.schema.json
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/utils/dicts.py
  tests/unit/test_config_model.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: extract YAML configuration and improve test coverage
  src/kleinanzeigen_bot/utils/dicts.py
  tests/unit/test_dicts.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: detect list fields via type annotation for empty lists
  src/kleinanzeigen_bot/utils/dicts.py
  tests/unit/test_dicts.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: improve logging messages and documentation
  README.md
  docs/AD_CONFIGURATION.md
  docs/CONFIGURATION.md
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/dicts.py
  src/kleinanzeigen_bot/utils/xdg_paths.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

feat: Add descriptive comments and examples to create-config output (#805)
  schemas/ad.schema.json
  schemas/config.schema.json
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/model/update_check_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/dicts.py
  tests/unit/test_config_model.py
  tests/unit/test_dicts.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: improve logging messages and documentation (#803)
  README.md
  docs/AD_CONFIGURATION.md
  docs/CONFIGURATION.md
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/dicts.py
  src/kleinanzeigen_bot/utils/xdg_paths.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

feat: cache published ads data to avoid repetitive API calls during ad download
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_extract.py
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: address CodeRabbit review feedback
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

Path conditions:
  format-python: any of: \.py$
  format-yaml: any of: \.(yaml|yml)$
  lint-ruff: any of: \.py$
  lint-mypy: any of: \.py$
  lint-pyright: any of: \.py$
  test-all: any of: \.py$
