Repository Second-Hand-Friends/kleinanzeigen-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

format-python:
  name: Format Python code (autopep8)
  entry: pdm run format:py
  language: system
  pass_filenames: false

format-yaml:
  name: Format YAML files (yamlfix)
  entry: pdm run format:yaml
  language: system
  pass_filenames: false

lint-ruff:
  name: Lint with ruff
  entry: pdm run lint:ruff
  language: system
  pass_filenames: false

lint-mypy:
  name: Type check with mypy
  entry: pdm run lint:mypy
  language: system
  pass_filenames: false

lint-pyright:
  name: Type check with basedpyright
  entry: pdm run lint:pyright
  language: system
  pass_filenames: false

test-all:
  name: Run all tests (unit + integration + smoke)
  entry: pdm run test
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix(publish): detect processed uploads without thumbnails
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): avoid traceback noise for optional imprint step
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

ci: remove obsolete pip-audit CVE ignore
  .github/workflows/build.yml
Due: format-yaml

fix(publish): distinguish city option timeouts in fallback flow
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(pagination): continue when paging.last is absent (#922)
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_json_pagination.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(ci): remove obsolete pip-audit ignore for Pygments CVE (#928)
  .github/workflows/build.yml
Due: format-yaml

fix: treat price=0 as a valid price (is not None check)
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: trigger React onChange for description field to pass form validation
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: update shipping dialog selectors after site redesign
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: use 'Weiter' button for category selection instead of generic submit
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: cast zipcode to str before passing to __react_input
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: narrow PublishSubmissionUncertainError boundary to post-submit-click only
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: update German translations for new warning message signatures
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-yaml

fix: raise TimeoutError on missing element in __react_input; use it for description
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: narrow contact field exception handling to TimeoutError
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): detect processed uploads via hidden markers
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: update HTML element IDs after Kleinanzeigen site redesign (#920) (#924)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(upload): ignore stale hidden image markers during upload wait
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(download): handle redesigned overview pagination safely
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_extract.py
  tests/unit/test_web_scraping_pagination.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

test(download): cover duplicate ref deduplication path
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test(upload): cover negative marker delta clamp case
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(download): report final yaml destination and candidate progress (#917)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/dicts.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

style(test): wrap long list comprehension for ruff
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(download): align INFO download logs with final destinations (#935)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/dicts.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(download): treat disabled next buttons correctly
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(download): handle redesigned overview pagination safely (#934)
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_extract.py
  tests/unit/test_web_scraping_pagination.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(upload): avoid stale marker false positives in image upload completion (#933)
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): align selector handling with current post-ad DOM
  docs/AD_CONFIGURATION.md
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

test(publish): tighten async shipping selector assertions
  docs/AD_CONFIGURATION.md
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): fail fast on unsupported legacy shipping selectors
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(shipping): surface pickup failures and tighten tests
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

perf(publish): use quick DOM timeout for condition dialog lookup
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): enforce condition and checkbox attribute state
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): align post-ad selectors with current DOM (#936)
  docs/AD_CONFIGURATION.md
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): prioritize interactive special-attribute controls (#938)
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): prioritize interactive special-attribute controls (#942)
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): handle typeless combobox brand field with ArrowDown+Enter fallback
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_init.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

test: add unit test for _dispatch_arrow_down_and_enter CDP fallback
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: consolidate duplicate combobox tests and remove log-wording assertion
  tests/unit/test_init.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): add value verification to no-listbox combobox fallback
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

Path conditions:
  format-python: any of: \.py$
  format-yaml: any of: \.(yaml|yml)$
  lint-ruff: any of: \.py$
  lint-mypy: any of: \.py$
  lint-pyright: any of: \.py$
  test-all: any of: \.py$
