Repository Second-Hand-Friends/kleinanzeigen-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

format-python:
  name: Format Python code (autopep8)
  entry: pdm run format:py
  language: system
  pass_filenames: false

format-yaml:
  name: Format YAML files (yamlfix)
  entry: pdm run format:yaml
  language: system
  pass_filenames: false

lint-ruff:
  name: Lint with ruff
  entry: pdm run lint:ruff
  language: system
  pass_filenames: false

lint-mypy:
  name: Type check with mypy
  entry: pdm run lint:mypy
  language: system
  pass_filenames: false

lint-pyright:
  name: Type check with basedpyright
  entry: pdm run lint:pyright
  language: system
  pass_filenames: false

test-all:
  name: Run all tests (unit + integration + smoke)
  entry: pdm run test
  language: system
  pass_filenames: false
  stages:
  - pre-commit

test(delete): remove redundant valid_response_codes assertion
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(delete): report actual deletion outcome and reduce log noise (#995)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): handle category-specific condition values and missing PICKUP toggle
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

feat(delete): add after_delete config for post-delete YAML cleanup
  docs/config.default.yaml
  schemas/config.schema.json
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/config_model.py
  tests/unit/test_config_model.py
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

test(delete): assert save_dict called for DISABLE mode
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test(publish): cover PICKUP skip and German condition_s fallback branches
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): handle missing PICKUP toggle (books/comics) and map legacy German condition_s values (#999)
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

feat(delete): add after_delete config for post-delete YAML cleanup (#1000)
  docs/config.default.yaml
  schemas/config.schema.json
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/config_model.py
  tests/unit/test_config_model.py
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(download): retry stale staging cleanup on Windows (#998)
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test(download): cover retry helper edge cases
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test(download): clarify Windows cleanup test name
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test(download): make Windows cleanup assertion robust
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test(extract): cover retry helper edge cases
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test(download): clarify retry helper expectation
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(download): retry stale staging cleanup on Windows (#1005)
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

chore: add a link to kleinanzeigen-bot-ui
  README.md
Due: none

chore: add a link to kleinanzeigen-bot-ui (#1007)
  README.md
Due: none

fix(publish): persist individual shipping costs past React re-render
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): persist individual shipping costs past React re-render (#1011)
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): handle category-suggestion radio picker fallback
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

Address Copilot review: non-retry exception, timeout, grammar
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/exceptions.py
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

Address CodeRabbit review: harden picker tests
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

docs: refine agent playbook
  AGENTS.md
Due: none

docs: introduce AGENTS.md (#1014)
  AGENTS.md
Due: none

docs: clarify download naming examples
  README.md
  docs/AD_CONFIGURATION.md
  docs/CONFIGURATION.md
  docs/config.default.yaml
  schemas/config.schema.json
  src/kleinanzeigen_bot/model/config_model.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

docs: clarify download naming examples (#1016)
  README.md
  docs/AD_CONFIGURATION.md
  docs/CONFIGURATION.md
  docs/config.default.yaml
  schemas/config.schema.json
  src/kleinanzeigen_bot/model/config_model.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): fail closed on category suggestion picker
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/exceptions.py
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): translate update category error
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-yaml

fix(publish): handle category-suggestion radio picker fallback (#1013)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/exceptions.py
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

chore: bump pip to 26.1
  pdm.lock
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-yaml

fix(logging): add clearer delete, upload and price logs
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
  tests/unit/test_price_reduction.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(logging): soften expected delete no-op log
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(logging): clarify delete, upload and price logs (#1018)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
  tests/unit/test_price_reduction.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: guard condition mappings against API drift
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/model/ad_model.py
  tests/unit/test_ad_model.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(test): narrow rmtree posix assertion
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: guard condition mappings against API drift (#1019)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/model/ad_model.py
  tests/unit/test_ad_model.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

feat(publish): warn on legacy condition tokens
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

test: consolidate condition warning coverage
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

feat(publish): warn on legacy German condition values (#1021)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(publish): normalize legacy condition handling
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

Path conditions:
  format-python: any of: \.py$
  format-yaml: any of: \.(yaml|yml)$
  lint-ruff: any of: \.py$
  lint-mypy: any of: \.py$
  lint-pyright: any of: \.py$
  test-all: any of: \.py$
