Repository Second-Hand-Friends/kleinanzeigen-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

format-python:
  name: Format Python code (autopep8)
  entry: pdm run format:py
  language: system
  pass_filenames: false

format-yaml:
  name: Format YAML files (yamlfix)
  entry: pdm run format:yaml
  language: system
  pass_filenames: false

lint-ruff:
  name: Lint with ruff
  entry: pdm run lint:ruff
  language: system
  pass_filenames: false

lint-mypy:
  name: Type check with mypy
  entry: pdm run lint:mypy
  language: system
  pass_filenames: false

lint-pyright:
  name: Type check with basedpyright
  entry: pdm run lint:pyright
  language: system
  pass_filenames: false

test-all:
  name: Run all tests (unit + integration + smoke)
  entry: pdm run test
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat: add grouped selector timeout fallback for login detection (#843)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_init.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: set Config.sandbox=False when --no-sandbox is in browser_args
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: set Config.sandbox=False when --no-sandbox is in browser_args (#850)
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

feat: add bundled dom selector rules and rule-based lookups
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/dom_rules_model.py
  src/kleinanzeigen_bot/resources/dom_rules.v1.json
  src/kleinanzeigen_bot/utils/dom_rules.py
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_dom_rules.py
  tests/unit/test_dom_rules_model.py
  tests/unit/test_extend_command.py
  tests/unit/test_extract.py
  tests/unit/test_init.py
  tests/unit/test_web_scraping_mixin.py
  tests/unit/test_web_scraping_pagination.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

docs: polish dom rules review feedback
  src/kleinanzeigen_bot/model/dom_rules_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_dom_rules.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: address dom rules review feedback
  src/kleinanzeigen_bot/model/dom_rules_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/dom_rules.py
  tests/unit/test_dom_rules.py
  tests/unit/test_web_scraping_mixin.py
  tests/unit/test_web_scraping_pagination.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

test: avoid brittle dom rules assertion
  tests/unit/test_dom_rules.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

feat: add configurable download dir and naming
  README.md
  docs/CONFIGURATION.md
  docs/config.default.yaml
  schemas/config.schema.json
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_config_model.py
  tests/unit/test_extract.py
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: address review findings for download templates
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_config_model.py
  tests/unit/test_extract.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: reuse rendered download stem consistently
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_config_model.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: cover codecov branch gaps
  tests/unit/test_config_model.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: fix mypy patch target in extract tests
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: align extract mocks and branch coverage
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: make timeout description test explicit
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: cover absolute ad and download paths
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: support absolute ad_files globs on windows
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: narrow ad file path guidance
  docs/CONFIGURATION.md
  docs/config.default.yaml
  schemas/config.schema.json
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/config_model.py
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

chore: simplify .gitignore
  .gitignore
Due: none

docs: update code of conduct
  CODE_OF_CONDUCT.md
  README.md
Due: none

docs: clarify download dir defaults
  docs/CONFIGURATION.md
Due: none

docs: update code of conduct (#852)
  CODE_OF_CONDUCT.md
  README.md
Due: none

docs: clarify shared ad workflows
  README.md
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: implement xpath selectors via native page xpath api
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: cover xpath helper edge branches
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: continue own-ad extraction when single item link is missing
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_extract.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

test: align extraction resilience test with main pagination flow
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refact: keep login selector fallbacks close to auth flow
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: skip own-ad links without href values
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_extract.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: use explicit commit hash for docker package versioning
  docker/image/Dockerfile
  tests/unit/test_version.py
  version.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: use explicit commit hash for docker package versioning (#856)
  docker/image/Dockerfile
  tests/unit/test_version.py
  version.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: harden login selector log assertions
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: use native page xpath api for xpath selectors (#853)
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: continue own-ad extraction when links are incomplete (#854)
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_extract.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

feat: log tried login selectors on final failures
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

feat: keep login selector fallbacks close to auth flow (#855)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

test: update extract pagination timeout expectations
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: preserve timeout provenance in timing logs
  docs/BROWSER_TROUBLESHOOTING.md
  docs/CONFIGURATION.md
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/utils/timing_collector.py
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_timing_collector.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: guard optional await args in timeout-key assertion
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(i18n): localize timeout conflict validation messages
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: use login_detection timeout key in auth check
  docs/CONFIGURATION.md
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

Path conditions:
  format-python: any of: \.py$
  format-yaml: any of: \.(yaml|yml)$
  lint-ruff: any of: \.py$
  lint-mypy: any of: \.py$
  lint-pyright: any of: \.py$
  test-all: any of: \.py$
