Repository Second-Hand-Friends/kleinanzeigen-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

format-python:
  name: Format Python code (autopep8)
  entry: pdm run format:py
  language: system
  pass_filenames: false

format-yaml:
  name: Format YAML files (yamlfix)
  entry: pdm run format:yaml
  language: system
  pass_filenames: false

lint-ruff:
  name: Lint with ruff
  entry: pdm run lint:ruff
  language: system
  pass_filenames: false

lint-mypy:
  name: Type check with mypy
  entry: pdm run lint:mypy
  language: system
  pass_filenames: false

lint-pyright:
  name: Type check with basedpyright
  entry: pdm run lint:pyright
  language: system
  pass_filenames: false

test-all:
  name: Run all tests (unit + integration + smoke)
  entry: pdm run test
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs: add artifact check function docstrings
  scripts/check_generated_artifacts.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: surface CLI stderr/stdout for artifact generation failures
  scripts/check_generated_artifacts.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

feat: explain auto price reduction decisions and traces (#826)
  docs/AD_CONFIGURATION.md
  docs/CONFIGURATION.md
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/ad_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_price_reduction.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

ci: check generated schema and default config artifacts (#825)
  .github/workflows/build.yml
  docs/CONFIGURATION.md
  docs/config.default.yaml
  pyproject.toml
  schemas/config.schema.json
  scripts/check_generated_artifacts.py
  scripts/generate_schemas.py
  scripts/schema_utils.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

feat: preview auto price reduction decisions in verify command
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/smoke/test_smoke_health.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

refact: clarify auto price reduction log levels for one-INFO-per-ad output
  docs/AD_CONFIGURATION.md
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/smoke/test_smoke_health.py
  tests/unit/test_price_reduction.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

feat: preview auto price reduction decisions in verify command (#829)
  docs/AD_CONFIGURATION.md
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/smoke/test_smoke_health.py
  tests/unit/test_price_reduction.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: reject invalid --ads selector values instead of silently falling back to default
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: address code review feedback
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: stricter combo-selector validation and annotation formatting
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: address review round 3 — help text, docstring, download_ads
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: address CodeRabbit review round 4 — type annotation, help texts, degenerate input
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: use effective_selector in numeric ID branch of download_ads
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: reject invalid --ads selector values instead of silent fallback (#834)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

feat: unify pdm test runner with quiet defaults
  docs/TESTING.md
  pyproject.toml
  scripts/run_tests.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refact: consolidate test and coverage runners
  .github/workflows/build.yml
  CONTRIBUTING.md
  docs/TESTING.md
  pyproject.toml
  scripts/coverage_helper.py
  scripts/run_tests.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

chore: address remaining coderabbit review comments
  docs/TESTING.md
  scripts/run_tests.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

docs: clarify duration reporting for verbose test runs
  docs/TESTING.md
Due: none

docs: explain negative marker design for utest profile
  scripts/run_tests.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

docs: refine integration stability phrasing
  docs/TESTING.md
Due: none

docs: clarify pytest.main caching caveat and verbosity wording
  docs/TESTING.md
  scripts/run_tests.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refact(test): centralize pytest coverage defaults in pyproject
  pyproject.toml
  scripts/run_tests.py
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

Update CodeQL Action to version 4.32.4
  .github/workflows/codeql-analysis.yml
Due: format-yaml

feat: unify pdm test defaults and verbosity controls (#836)
  .github/workflows/build.yml
  CONTRIBUTING.md
  docs/TESTING.md
  pyproject.toml
  scripts/coverage_helper.py
  scripts/run_tests.py
  src/kleinanzeigen_bot/__init__.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

feat: add grouped selector timeout fallback for login detection
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_init.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

test: improve selector group timeout branch coverage
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refact: deduplicate visible text extraction and clarify budget tests
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

docs: clarify selector budget allocator intent
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

feat: add bundled dom selector rules and rule-based lookups
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/dom_rules_model.py
  src/kleinanzeigen_bot/resources/dom_rules.v1.json
  src/kleinanzeigen_bot/utils/dom_rules.py
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_dom_rules.py
  tests/unit/test_dom_rules_model.py
  tests/unit/test_extend_command.py
  tests/unit/test_extract.py
  tests/unit/test_init.py
  tests/unit/test_web_scraping_mixin.py
  tests/unit/test_web_scraping_pagination.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: implement xpath selectors via native page xpath api
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: cover xpath helper edge branches
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

feat: add bundled dom selector rules and rule-based lookups
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

feat: migrate publish and extend selectors to dom rules
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/dom_rules.v1.json
  tests/unit/test_extend_command.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: remove duplicated dom-rule helper methods
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: continue own-ad extraction when single item link is missing
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_extract.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: remove duplicate dom-rule helper definitions
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: cap web_await polling sleep by remaining timeout
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(i18n): localize selector group exception messages
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: tolerate missing single ad links in own-ad extraction (#848)
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_extract.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

Path conditions:
  format-python: any of: \.py$
  format-yaml: any of: \.(yaml|yml)$
  lint-ruff: any of: \.py$
  lint-mypy: any of: \.py$
  lint-pyright: any of: \.py$
  test-all: any of: \.py$
