Repository Second-Hand-Friends/kleinanzeigen-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

format-python:
  name: Format Python code (autopep8)
  entry: pdm run format:py
  language: system
  pass_filenames: false

format-yaml:
  name: Format YAML files (yamlfix)
  entry: pdm run format:yaml
  language: system
  pass_filenames: false

lint-ruff:
  name: Lint with ruff
  entry: pdm run lint:ruff
  language: system
  pass_filenames: false

lint-mypy:
  name: Type check with mypy
  entry: pdm run lint:mypy
  language: system
  pass_filenames: false

lint-pyright:
  name: Type check with basedpyright
  entry: pdm run lint:pyright
  language: system
  pass_filenames: false

test-all:
  name: Run all tests (unit + integration + smoke)
  entry: pdm run test
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix: compare updates via release tag
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/update_checker.py
  tests/unit/test_update_checker.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

test: cover update checker warnings
  src/kleinanzeigen_bot/update_checker.py
  tests/unit/test_update_checker.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(ci): avoid duplicate PR builds
  .github/workflows/build.yml
Due: format-yaml

fix(ci): drop redundant build job condition
  .github/workflows/build.yml
Due: format-yaml

fix(ci): use env.ACT to skip act runs
  .github/workflows/build.yml
Due: format-yaml

fix(ci): gate publish jobs for act
  .github/workflows/build.yml
Due: format-yaml

fix: compare updates via release tag (#745)
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/update_checker.py
  tests/unit/test_update_checker.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: allow forked push builds
  .github/workflows/build.yml
Due: format-yaml

feat(config): add timeout profiles
  README.md
  docs/BROWSER_TROUBLESHOOTING.md
  docs/TIMEOUTS.md
  schemas/config.schema.json
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/chrome_version_detector.py
  tests/conftest.py
  tests/unit/test_chrome_version_detector.py
  tests/unit/test_config_model.py
  tests/unit/test_extract.py
  tests/unit/test_init.py
  tests/unit/test_web_scraping_mixin.py
  tests/unit/test_web_scraping_mixin_chrome_version.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

docs: add contributor covenant badges
  docs/BROWSER_TROUBLESHOOTING.md
  docs/TIMEOUTS.md
  src/kleinanzeigen_bot/utils/chrome_version_detector.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: eliminate duplicate auto price reduction wrapper methods
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: eliminate duplicate auto price reduction wrapper methods (#753)
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: CI coverage on PRs (#746)
  .github/workflows/build.yml
Due: format-yaml

feat: restore XDG Base Directory functionality after merge
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/update_checker.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix #757: take care of changed belen_conf keys
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: update extend flow selectors, logging, and error handling
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_extend_command.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

docs: document extend command
  README.md
Due: none

fix: take care of changed belen_conf keys (#758)
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: restore build push triggers
  .github/workflows/build.yml
Due: format-yaml

fix: restore build push triggers (#759)
  .github/workflows/build.yml
Due: format-yaml

fix: refine installation mode handling
  README.md
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  src/kleinanzeigen_bot/utils/xdg_paths.py
  tests/unit/test_extract.py
  tests/unit/test_init.py
  tests/unit/test_update_checker.py
  tests/unit/test_web_scraping_mixin.py
  tests/unit/test_xdg_paths.py
  version.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: correct AdExtractor patch in tests
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: finalize xdg mode handling and tests
  README.md
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  src/kleinanzeigen_bot/utils/xdg_paths.py
  tests/unit/test_extract.py
  tests/unit/test_update_checker.py
  tests/unit/test_web_scraping_mixin.py
  tests/unit/test_xdg_paths.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

feat: refine xdg paths and browser setup
  README.md
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  src/kleinanzeigen_bot/utils/xdg_paths.py
  tests/unit/test_extract.py
  tests/unit/test_web_scraping_mixin.py
  tests/unit/test_xdg_paths.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

test: avoid prefs write with explicit user data dir
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: stabilize xdg logging and test cleanup
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/utils/xdg_paths.py
  tests/unit/test_update_checker.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: harden xdg paths and browser cleanup
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  src/kleinanzeigen_bot/utils/xdg_paths.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: revert browser cleanup and harden xdg paths
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  src/kleinanzeigen_bot/utils/xdg_paths.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

test: align external process termination with cleanup behavior
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: harden user-data-dir parsing and test reload cleanup
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  src/kleinanzeigen_bot/utils/xdg_paths.py
  tests/unit/test_extract.py
  tests/unit/test_update_checker.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: refine install mode usage and extraction handling
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

Fix: Set category before title to prevent form field reset
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: set category before title to prevent form field reset (#763)
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: make browser cleanup best-effort
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: default browser profile dir
  schemas/config.schema.json
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  src/kleinanzeigen_bot/utils/xdg_paths.py
  tests/unit/test_update_checker.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: align debug logs and browser startup
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  src/kleinanzeigen_bot/utils/xdg_paths.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: clean up profile cleanup logging
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: harden user-data-dir handling
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

Path conditions:
  format-python: any of: \.py$
  format-yaml: any of: \.(yaml|yml)$
  lint-ruff: any of: \.py$
  lint-mypy: any of: \.py$
  lint-pyright: any of: \.py$
  test-all: any of: \.py$
