Repository Second-Hand-Friends/kleinanzeigen-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

format-python:
  name: Format Python code (autopep8)
  entry: pdm run format:py
  language: system
  pass_filenames: false

format-yaml:
  name: Format YAML files (yamlfix)
  entry: pdm run format:yaml
  language: system
  pass_filenames: false

lint-ruff:
  name: Lint with ruff
  entry: pdm run lint:ruff
  language: system
  pass_filenames: false

lint-mypy:
  name: Type check with mypy
  entry: pdm run lint:mypy
  language: system
  pass_filenames: false

lint-pyright:
  name: Type check with basedpyright
  entry: pdm run lint:pyright
  language: system
  pass_filenames: false

test-all:
  name: Run all tests (unit + integration + smoke)
  entry: pdm run test
  language: system
  pass_filenames: false
  stages:
  - pre-commit

refactor: remove root compatibility facade
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/price_reduction.py
  src/kleinanzeigen_bot/utils/i18n.py
  tests/unit/test_extend_command.py
  tests/unit/test_init.py
  tests/unit/test_price_reduction.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

docs: clarify CLI project contract
  AGENTS.md
Due: none

refactor: remove root compatibility facade (#1087)
  AGENTS.md
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/price_reduction.py
  src/kleinanzeigen_bot/utils/i18n.py
  tests/unit/test_extend_command.py
  tests/unit/test_init.py
  tests/unit/test_price_reduction.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: clean up package-root price imports
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/price_reduction.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: clean up package-root price imports (#1088)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/price_reduction.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: extract CLI bootstrap
  CONTRIBUTING.md
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/__main__.py
  src/kleinanzeigen_bot/cli.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/runtime_config.py
  tests/unit/test_cli.py
  tests/unit/test_init.py
  tests/unit/test_runtime_config.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: include runtime config in frozen build
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: preserve verbose runtime diagnostics
  src/kleinanzeigen_bot/cli.py
  tests/unit/test_cli.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: expand CLI bootstrap coverage
  tests/unit/test_cli.py
  tests/unit/test_runtime_config.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

docs: clarify runtime bootstrap decisions
  src/kleinanzeigen_bot/runtime_config.py
  tests/unit/test_runtime_config.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: address review follow-up issues
  src/kleinanzeigen_bot/cli.py
  tests/unit/test_cli.py
  tests/unit/test_runtime_config.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: defer help exit until after option parsing
  src/kleinanzeigen_bot/cli.py
  tests/unit/test_cli.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: remove duplicate bootstrap methods
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/smoke/test_smoke_health.py
  tests/unit/test_extend_command.py
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: honor workspace mode in create-config
  src/kleinanzeigen_bot/__init__.py
  tests/smoke/test_smoke_health.py
  tests/unit/test_runtime_config.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: stabilize create-config smoke coverage
  tests/smoke/test_smoke_health.py
  tests/unit/test_runtime_config.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: stabilize workspace config checks
  pyproject.toml
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_runtime_config.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: address cli runtime review notes
  src/kleinanzeigen_bot/cli.py
  tests/unit/test_cli.py
  tests/unit/test_runtime_config.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: simplify smoke path handling
  tests/smoke/test_smoke_health.py
  tests/unit/test_runtime_config.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: remove low-value duplicate and trivial tests
  tests/unit/test_extend_command.py
  tests/unit/test_runtime_config.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: add WIN_PD_OVERRIDE_LOCAL_APPDATA to smoke env overrides
  tests/smoke/test_smoke_health.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: use cross-platform echo for lint labels, add cli docstring
  pyproject.toml
  src/kleinanzeigen_bot/cli.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

docs: add module docstring to runtime_config
  src/kleinanzeigen_bot/runtime_config.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: validate commands early, centralize command sets, respect --config in create-config
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/cli.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/runtime_config.py
  tests/unit/test_runtime_config.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

docs: add (STANDARD: all) to extend --ads help text
  src/kleinanzeigen_bot/cli.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

docs: add (DEFAULT: all) to English extend --ads help text
  src/kleinanzeigen_bot/cli.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: extract CLI bootstrap (#1089)
  CONTRIBUTING.md
  pyproject.toml
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/__main__.py
  src/kleinanzeigen_bot/cli.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/runtime_config.py
  tests/smoke/test_smoke_health.py
  tests/unit/test_cli.py
  tests/unit/test_extend_command.py
  tests/unit/test_init.py
  tests/unit/test_runtime_config.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

feat: add preserve-local-settings toggle for download
  docs/config.default.yaml
  schemas/config.schema.json
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/cli.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_extract.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

docs: add --preserve-local-settings to help text
  src/kleinanzeigen_bot/cli.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

docs: document preserve_local_settings in config reference
  docs/CONFIGURATION.md
Due: none

fix: validate auto_price_reduction independently in preservation block
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: clarify --preserve-local-settings help text, add missing translation, strengthen test
  src/kleinanzeigen_bot/cli.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_extract.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

test: add CLI parse and error recovery tests for preserve_local_settings
  tests/unit/test_cli.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: use model_validate instead of model_copy for full validation
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: parametrize preservation test to cover both stem match and glob fallback
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: fall back to YAML glob when rendered file stem doesn't match (closes #1092)
  src/kleinanzeigen_bot/extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: verify malformed auto_price_reduction skips only that field
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

feat: add preserve-local-settings toggle for download (#1091)
  docs/CONFIGURATION.md
  docs/config.default.yaml
  schemas/config.schema.json
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/cli.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_cli.py
  tests/unit/test_extract.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: add fallback for button-combobox special attributes after site redesign
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: anchor button-combobox fallback to matched hidden input
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: tighten button-combobox fallback after review
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

Path conditions:
  format-python: any of: \.py$
  format-yaml: any of: \.(yaml|yml)$
  lint-ruff: any of: \.py$
  lint-mypy: any of: \.py$
  lint-pyright: any of: \.py$
  test-all: any of: \.py$
