Repository Second-Hand-Friends/kleinanzeigen-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

format-python:
  name: Format Python code (autopep8)
  entry: pdm run format:py
  language: system
  pass_filenames: false

format-yaml:
  name: Format YAML files (yamlfix)
  entry: pdm run format:yaml
  language: system
  pass_filenames: false

lint-ruff:
  name: Lint with ruff
  entry: pdm run lint:ruff
  language: system
  pass_filenames: false

lint-mypy:
  name: Type check with mypy
  entry: pdm run lint:mypy
  language: system
  pass_filenames: false

lint-pyright:
  name: Type check with basedpyright
  entry: pdm run lint:pyright
  language: system
  pass_filenames: false

test-all:
  name: Run all tests (unit + integration + smoke)
  entry: pdm run test
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix: validate runtime timeout buckets for provenance
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_config_model.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: reject unknown timeout config keys
  docs/CONFIGURATION.md
  schemas/config.schema.json
  src/kleinanzeigen_bot/model/config_model.py
  tests/unit/test_config_model.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: version timing diagnostics sessions
  docs/CONFIGURATION.md
  src/kleinanzeigen_bot/utils/timing_collector.py
  tests/unit/test_timing_collector.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

docs: clarify timeout key semantics for maintainers
  docs/CONFIGURATION.md
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: enforce strict timeout bucket resolution
  src/kleinanzeigen_bot/model/config_model.py
  tests/unit/test_config_model.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refact: derive timeout buckets and simplify errors
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_config_model.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

docs: update login diagnostics capture key path
  docs/BROWSER_TROUBLESHOOTING.md
Due: none

fix: propagate pagination timeout provenance and harden timeout contracts
  docs/CONFIGURATION.md
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_config_model.py
  tests/unit/test_extract.py
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

refact: simplify timeout resolution internals
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

refact: centralize effective timeout math
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_config_model.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

docs: move maintainer timeout guidance to contributing
  CONTRIBUTING.md
  docs/BROWSER_TROUBLESHOOTING.md
  docs/CONFIGURATION.md
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: serialize downloaded ad timestamps as schema-compliant strings
  pdm.lock
  pyproject.toml
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: align extend and pagination timeout key semantics
  CONTRIBUTING.md
  src/kleinanzeigen_bot/__init__.py
  tests/unit/test_extend_command.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

docs: clarify timeout input and output semantics
  CONTRIBUTING.md
Due: none

fix: serialize downloaded ad timestamps as schema-compliant strings (#863)
  pdm.lock
  pyproject.toml
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

feat: add configurable download dir and naming
  README.md
  docs/CONFIGURATION.md
  docs/config.default.yaml
  schemas/config.schema.json
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_config_model.py
  tests/unit/test_extract.py
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: address review findings for download templates
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_config_model.py
  tests/unit/test_extract.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: reuse rendered download stem consistently
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_config_model.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: cover codecov branch gaps
  tests/unit/test_config_model.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: fix mypy patch target in extract tests
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

docs: clarify download dir defaults
  docs/CONFIGURATION.md
Due: none

docs: clarify shared ad workflows
  README.md
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: narrow ad file path guidance
  docs/CONFIGURATION.md
  docs/config.default.yaml
  schemas/config.schema.json
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/config_model.py
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: disable foreign downloaded ads by id
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

docs: clarify shared ads tree config
  README.md
Due: none

test: cover absolute ad and download paths
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: make timeout description test explicit
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: align extract mocks and branch coverage
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: support absolute ad_files globs on windows
  src/kleinanzeigen_bot/__init__.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: fix schema validation download mock
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: cover active override download branches
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: align download file template docs and validation
  docs/CONFIGURATION.md
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/model/config_model.py
  tests/unit/test_config_model.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

chore: regenerate config artifacts
  docs/config.default.yaml
  schemas/config.schema.json
Due: format-yaml

fix: preserve id in truncated download stems
  README.md
  docs/CONFIGURATION.md
  docs/config.default.yaml
  schemas/config.schema.json
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/model/config_model.py
  tests/unit/test_config_model.py
  tests/unit/test_extract.py
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

docs: tighten download naming guidance
  docs/CONFIGURATION.md
Due: none

fix: address remaining review feedback
  README.md
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_extract.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: update german translations for ads selector errors
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-yaml

test: harden download activity assertions
  tests/unit/test_extract.py
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: stabilize matching temp dir recreation path
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: avoid deleting colliding download title folders
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_extract_directory_collision.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

Path conditions:
  format-python: any of: \.py$
  format-yaml: any of: \.(yaml|yml)$
  lint-ruff: any of: \.py$
  lint-mypy: any of: \.py$
  lint-pyright: any of: \.py$
  test-all: any of: \.py$
