Repository Second-Hand-Friends/kleinanzeigen-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

format-python:
  name: Format Python code (autopep8)
  entry: pdm run format:py
  language: system
  pass_filenames: false

format-yaml:
  name: Format YAML files (yamlfix)
  entry: pdm run format:yaml
  language: system
  pass_filenames: false

lint-ruff:
  name: Lint with ruff
  entry: pdm run lint:ruff
  language: system
  pass_filenames: false

lint-mypy:
  name: Type check with mypy
  entry: pdm run lint:mypy
  language: system
  pass_filenames: false

lint-pyright:
  name: Type check with basedpyright
  entry: pdm run lint:pyright
  language: system
  pass_filenames: false

test-all:
  name: Run all tests (unit + integration + smoke)
  entry: pdm run test
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat(xdg): add browser profile XDG support and documentation
  README.md
  schemas/config.schema.json
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/update_checker.py
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: resolve ruff lint errors and increase max-public-methods limit
  pyproject.toml
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: address CodeRabbit feedback on PR #777
  pyproject.toml
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  src/kleinanzeigen_bot/utils/xdg_paths.py
  tests/unit/test_web_scraping_mixin_chrome_version.py
  tests/unit/test_xdg_paths.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: ensure browser profile path is always absolute
  src/kleinanzeigen_bot/utils/xdg_paths.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: expand user home directory in config_override path
  src/kleinanzeigen_bot/utils/xdg_paths.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

ci: reduce integration test flakiness on CI runners
  .github/workflows/build.yml
  pyproject.toml
  tests/integration/test_web_scraping_mixin_integration.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

ci(build): fix Ubuntu integration test flakiness by correcting browser warm-up
  .github/workflows/build.yml
Due: format-yaml

ci(build): add --no-sandbox flag to Ubuntu browser warm-up
  .github/workflows/build.yml
Due: format-yaml

ci(build): add 2s stabilization delay after Ubuntu browser warm-up
  .github/workflows/build.yml
Due: format-yaml

feat: add core XDG path resolution module (#775)
  pyproject.toml
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/xdg_paths.py
  tests/unit/test_xdg_paths.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

feat: integrate XDG paths into bot core (#776)
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/update_checker.py
  tests/unit/test_extract.py
  tests/unit/test_init.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

debug(ci): add diagnostic logging for Ubuntu browser initialization
  .github/workflows/build.yml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(ci): resolve Ubuntu browser initialization by moving warm-up outside xvfb
  .github/workflows/build.yml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(ci): clean up browser profile lock files after warm-up
  .github/workflows/build.yml
Due: format-yaml

fix(ci): use separate temp profile for browser warm-up
  .github/workflows/build.yml
Due: format-yaml

fix(ci): remove browser warm-up that was causing timeouts
  .github/workflows/build.yml
Due: format-yaml

fix(tests): skip automatic user_data_dir in test environment
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(tests): also skip fallback user_data_dir in test environment
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(ci): remove unnecessary macOS browser warm-up
  .github/workflows/build.yml
Due: format-yaml

fix(__init__): set explicit config/log flags in parse_args
  tests/unit/test_init.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(webscraping): resolve type safety issue at line 1219
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_web_scraping_mixin_chrome_version.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(webscraping): fix statusMessage string interpolation
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: correct typos and formatting issues
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: update test mocks and translation strings
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_init.py
  tests/unit/test_web_scraping_mixin_chrome_version.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix #781: email verification dialog gets handled now
  README.md
  schemas/config.schema.json
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/config_model.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

chore: normalize core bot lint formatting
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/update_checker.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

chore: format config model annotations
  src/kleinanzeigen_bot/model/config_model.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

chore: format xdg path utilities and tests
  src/kleinanzeigen_bot/utils/xdg_paths.py
  tests/unit/test_xdg_paths.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

chore: format extract tests for lint
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: remove leading space in description suffix
  src/kleinanzeigen_bot/model/config_model.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

feat: add browser profile XDG support and documentation (#777)
  .github/workflows/build.yml
  README.md
  pyproject.toml
  schemas/config.schema.json
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/update_checker.py
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  src/kleinanzeigen_bot/utils/xdg_paths.py
  tests/integration/test_web_scraping_mixin_integration.py
  tests/unit/test_extract.py
  tests/unit/test_init.py
  tests/unit/test_web_scraping_mixin_chrome_version.py
  tests/unit/test_xdg_paths.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix(download): keep shipping_type SHIPPING for individual postage
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test(extract): cover shipping no-match and timeout paths
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

Remove _() from log messages and update docs
  .coderabbit.yaml
  CONTRIBUTING.md
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/update_checker.py
  src/kleinanzeigen_bot/utils/dicts.py
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

chore: apply formatting
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/model/config_model.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

chore: dedupe CodeRabbit logging rule
  .coderabbit.yaml
Due: format-yaml

fix: avoid _() in log warnings
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

chore: fix CodeRabbit finishing_touches schema
  .coderabbit.yaml
Due: format-yaml

fix: wording for german categories, etc.
  .coderabbit.yaml
Due: format-yaml

chore: translation handling for log messages (#787)
  .coderabbit.yaml
  CONTRIBUTING.md
  src/kleinanzeigen_bot/__init__.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/update_checker.py
  src/kleinanzeigen_bot/utils/dicts.py
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

Path conditions:
  format-python: any of: \.py$
  format-yaml: any of: \.(yaml|yml)$
  lint-ruff: any of: \.py$
  lint-mypy: any of: \.py$
  lint-pyright: any of: \.py$
  test-all: any of: \.py$
