Repository Second-Hand-Friends/kleinanzeigen-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Â© Jens Bergmann and contributors
# SPDX-License-Identifier: AGPL-3.0-or-later
# SPDX-ArtifactOfProjectHomePage: https://github.com/Second-Hand-Friends/kleinanzeigen-bot/
#
# Pre-commit hooks configuration
# See https://pre-commit.com for more information
#
# Installation:
#   pdm install
#   pdm run hooks:install
#
# Manual run (all files):
#   pdm run hooks:run
#
# Update hooks to latest versions:
#   pdm run hooks:update

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: \.patch$
      - id: end-of-file-fixer
        exclude: \.patch$
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending

  # Python code formatting and linting via PDM
  - repo: local
    hooks:
      # Format Python code
      - id: format-python
        name: Format Python code (autopep8)
        entry: pdm run format:py
        language: system
        types: [python]
        pass_filenames: false

      # Format YAML files
      - id: format-yaml
        name: Format YAML files (yamlfix)
        entry: pdm run format:yaml
        language: system
        types: [yaml]
        pass_filenames: false

      # Lint with ruff
      - id: lint-ruff
        name: Lint with ruff
        entry: pdm run lint:ruff
        language: system
        types: [python]
        pass_filenames: false

      # Type check with mypy
      - id: lint-mypy
        name: Type check with mypy
        entry: pdm run lint:mypy
        language: system
        types: [python]
        pass_filenames: false

      # Type check with basedpyright
      - id: lint-pyright
        name: Type check with basedpyright
        entry: pdm run lint:pyright
        language: system
        types: [python]
        pass_filenames: false

      # Run all tests
      - id: test-all
        name: Run all tests (unit + integration + smoke)
        entry: pdm run test
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-commit]

fix: handle reservation verification timeouts
  src/kleinanzeigen_bot/reserve_flow.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_reserve_flow.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

feat: add reserve/activate commands to toggle an ad's reserved state (#1264)
  README.md
  src/kleinanzeigen_bot/app.py
  src/kleinanzeigen_bot/cli.py
  src/kleinanzeigen_bot/reserve_flow.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/runtime_config.py
  tests/unit/test_publishing_submission.py
  tests/unit/test_reserve_flow.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: fall back to shippingHeader island prop when legacy shipping element is absent (#1256)
  src/kleinanzeigen_bot/extract.py
  tests/fixtures/astro_ad_props_pickup.json
  tests/fixtures/astro_ad_props_shipping.json
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: handle empty shipping text and cover DOM precedence
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: fall back to shippingHeader island prop when legacy shipping element is absent (#1256) (#1268)
  src/kleinanzeigen_bot/extract.py
  tests/fixtures/astro_ad_props_pickup.json
  tests/fixtures/astro_ad_props_shipping.json
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

perf: traverse the ad overview once for bulk actions
  src/kleinanzeigen_bot/bulk_ad_actions.py
  src/kleinanzeigen_bot/extend_flow.py
  src/kleinanzeigen_bot/reserve_flow.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_bulk_ad_actions.py
  tests/unit/test_extend_flow.py
  tests/unit/test_reserve_flow.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

test: remove bulk action log text assertions
  tests/unit/test_bulk_ad_actions.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

perf: traverse the ad overview once for bulk actions (#1270)
  src/kleinanzeigen_bot/bulk_ad_actions.py
  src/kleinanzeigen_bot/extend_flow.py
  src/kleinanzeigen_bot/reserve_flow.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_bulk_ad_actions.py
  tests/unit/test_extend_flow.py
  tests/unit/test_reserve_flow.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: skip null auto price reduction when downloading ads
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: use asyncio.to_thread for blocking operations
  src/kleinanzeigen_bot/app.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/utils/files.py
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_extract.py
  tests/unit/test_files.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: mark download preservation tests as unit tests
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: skip null auto price reduction when downloading ads (#1271)
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: use asyncio.to_thread for blocking operations (#1272)
  src/kleinanzeigen_bot/app.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/utils/files.py
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_extract.py
  tests/unit/test_files.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: modernize async timeout and deadline handling
  CONTRIBUTING.md
  docs/ASYNC_TIMEOUTS.md
  pyproject.toml
  src/kleinanzeigen_bot/login_flow.py
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_login_flow.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: clarify cancellation checks and timeout troubleshooting
  docs/ASYNC_TIMEOUTS.md
  tests/unit/test_login_flow.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

refactor: modernize async timeout and deadline handling (#1273)
  CONTRIBUTING.md
  docs/ASYNC_TIMEOUTS.md
  pyproject.toml
  src/kleinanzeigen_bot/login_flow.py
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_login_flow.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: enter login through Meins navigation
  src/kleinanzeigen_bot/login_flow.py
  tests/unit/test_login_flow.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: preserve SSO default with explicit login entry choice
  docs/CONFIGURATION.md
  docs/config.default.yaml
  schemas/config.schema.json
  src/kleinanzeigen_bot/app.py
  src/kleinanzeigen_bot/login_flow.py
  src/kleinanzeigen_bot/model/config_model.py
  tests/unit/test_config_model.py
  tests/unit/test_login_flow.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: use PDM interpreter in generation and formatting scripts
  pyproject.toml
  scripts/generate_config.py
  tests/integration/test_generate_config.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: exercise config generation through isolated PDM project
  tests/integration/test_generate_config.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: use PDM interpreter in generation and formatting scripts (#1277)
  pyproject.toml
  scripts/generate_config.py
  tests/integration/test_generate_config.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: mark login entry config tests as unit tests
  tests/unit/test_config_model.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: follow click navigation when editing ad categories
  src/kleinanzeigen_bot/publishing_form.py
  src/kleinanzeigen_bot/publishing_workflow.py
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_publishing_form.py
  tests/unit/test_publishing_workflow.py
  tests/unit/test_web_scraping_pagination.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: resolve category suggestions after missing path links
  src/kleinanzeigen_bot/publishing_form.py
  src/kleinanzeigen_bot/publishing_workflow.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_publishing_form.py
  tests/unit/test_publishing_workflow.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: reject unresolved category aliases before traversal
  src/kleinanzeigen_bot/publishing_form.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_publishing_form.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: make login entry an explicit choice (#1276)
  docs/CONFIGURATION.md
  docs/config.default.yaml
  schemas/config.schema.json
  src/kleinanzeigen_bot/app.py
  src/kleinanzeigen_bot/login_flow.py
  src/kleinanzeigen_bot/model/config_model.py
  tests/unit/test_config_model.py
  tests/unit/test_login_flow.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: follow click navigation when editing ad categories (#1278)
  src/kleinanzeigen_bot/publishing_form.py
  src/kleinanzeigen_bot/publishing_workflow.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_publishing_form.py
  tests/unit/test_publishing_workflow.py
  tests/unit/test_web_scraping_pagination.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

docs: explain what an empty browser.user_data_dir does
  docs/BROWSER_TROUBLESHOOTING.md
  docs/config.default.yaml
  schemas/config.schema.json
  src/kleinanzeigen_bot/model/config_model.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

docs: address review findings in the profile troubleshooting entry
  docs/BROWSER_TROUBLESHOOTING.md
Due: none

fix(extract): fall back to the anonymous ad page for missing dimensions
  src/kleinanzeigen_bot/extract.py
  tests/fixtures/anonymous_ad_dimensions_sample.json
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix(extract): add German translations for the fallback log messages
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-yaml

fix: recognise logged-in marker inside display:none header on redesigned start page
  docs/BROWSER_TROUBLESHOOTING.md
  docs/CONFIGURATION.md
  src/kleinanzeigen_bot/login_flow.py
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_login_flow.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: assert the hidden-marker fallback behaviour instead of the helper call arguments
  tests/unit/test_login_flow.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: select the correct condition dialog without a trigger ID
  src/kleinanzeigen_bot/publishing_form.py
  tests/unit/test_publishing_form.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: report form validation errors and fail unsuccessful batches
  README.md
  src/kleinanzeigen_bot/publishing_submission.py
  src/kleinanzeigen_bot/publishing_workflow.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  src/kleinanzeigen_bot/utils/exceptions.py
  tests/integration/test_publishing_validation.py
  tests/unit/test_cli.py
  tests/unit/test_publishing_submission.py
  tests/unit/test_publishing_workflow.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: isolate validation browser tests and exclude hint text
  src/kleinanzeigen_bot/publishing_submission.py
  tests/integration/test_publishing_validation.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: load validation fixture without host filesystem access
  tests/integration/test_publishing_validation.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: recover category attributes via anonymous request on redesigned ad pages
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_extract.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

test: cover the anonymous fallback's HTTP helper
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: pin the anonymous fallback to trusted hosts and validate redirects
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all
