Repository Second-Hand-Friends/kleinanzeigen-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Â© Jens Bergmann and contributors
# SPDX-License-Identifier: AGPL-3.0-or-later
# SPDX-ArtifactOfProjectHomePage: https://github.com/Second-Hand-Friends/kleinanzeigen-bot/
#
# Pre-commit hooks configuration
# See https://pre-commit.com for more information
#
# Installation:
#   pdm install
#   pdm run hooks:install
#
# Manual run (all files):
#   pdm run hooks:run
#
# Update hooks to latest versions:
#   pdm run hooks:update

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: \.patch$
      - id: end-of-file-fixer
        exclude: \.patch$
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending

  # Python code formatting and linting via PDM
  - repo: local
    hooks:
      # Format Python code
      - id: format-python
        name: Format Python code (autopep8)
        entry: pdm run format:py
        language: system
        types: [python]
        pass_filenames: false

      # Format YAML files
      - id: format-yaml
        name: Format YAML files (yamlfix)
        entry: pdm run format:yaml
        language: system
        types: [yaml]
        pass_filenames: false

      # Lint with ruff
      - id: lint-ruff
        name: Lint with ruff
        entry: pdm run lint:ruff
        language: system
        types: [python]
        pass_filenames: false

      # Type check with mypy
      - id: lint-mypy
        name: Type check with mypy
        entry: pdm run lint:mypy
        language: system
        types: [python]
        pass_filenames: false

      # Type check with basedpyright
      - id: lint-pyright
        name: Type check with basedpyright
        entry: pdm run lint:pyright
        language: system
        types: [python]
        pass_filenames: false

      # Run all tests
      - id: test-all
        name: Run all tests (unit + integration + smoke)
        entry: pdm run test
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-commit]

fix: skip fetch for id-only deletes
  src/kleinanzeigen_bot/delete_flow.py
  tests/unit/test_delete_flow.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: prevent ambiguous title deletes (#1202)
  docs/CONFIGURATION.md
  docs/config.default.yaml
  schemas/config.schema.json
  src/kleinanzeigen_bot/delete_flow.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_delete_flow.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: fail closed on persistence errors
  src/kleinanzeigen_bot/publishing_workflow.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_publishing_persistence.py
  tests/unit/test_publishing_workflow.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: fail closed on persistence errors (#1203)
  src/kleinanzeigen_bot/publishing_workflow.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_publishing_persistence.py
  tests/unit/test_publishing_workflow.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: persist created_on on first publish
  src/kleinanzeigen_bot/publishing_persistence.py
  tests/unit/test_publishing_persistence.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: persist created_on on first publish (#1204)
  src/kleinanzeigen_bot/publishing_persistence.py
  tests/unit/test_publishing_persistence.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: require strict fetch for title cleanup
  src/kleinanzeigen_bot/publishing_workflow.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_publishing_workflow.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: respect keep-old title cleanup
  src/kleinanzeigen_bot/publishing_workflow.py
  tests/unit/test_publishing_workflow.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: require strict fetch for title cleanup (#1206)
  src/kleinanzeigen_bot/publishing_workflow.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_publishing_workflow.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: catch ProtocolException in login detection selectors
  src/kleinanzeigen_bot/login_flow.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: generalize log message for timeout and stale-node errors
  src/kleinanzeigen_bot/login_flow.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: update German translation for renamed log message
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-yaml

fix: catch ProtocolException in login detection selectors (#1209)
  src/kleinanzeigen_bot/login_flow.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: narrow stale node protocol error handling
  src/kleinanzeigen_bot/login_flow.py
  tests/unit/test_login_flow.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: narrow stale node protocol error handling (#1214)
  src/kleinanzeigen_bot/login_flow.py
  tests/unit/test_login_flow.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: decode cached download titles
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: decode cached download titles (#1218)
  src/kleinanzeigen_bot/extract.py
  tests/unit/test_extract.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: await browser session cleanup
  src/kleinanzeigen_bot/app.py
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/conftest.py
  tests/integration/test_web_scraping_mixin_integration.py
  tests/unit/test_ad_status.py
  tests/unit/test_app.py
  tests/unit/test_color.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: bound browser process shutdown wait
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: support Python 3.10 cleanup timeouts
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: await browser session cleanup (#1223)
  src/kleinanzeigen_bot/app.py
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/conftest.py
  tests/integration/test_web_scraping_mixin_integration.py
  tests/unit/test_ad_status.py
  tests/unit/test_app.py
  tests/unit/test_color.py
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: support redesigned shipping dialog actions
  src/kleinanzeigen_bot/publishing_form.py
  tests/unit/test_publishing_form.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: cover shipping dialog modify navigation
  tests/unit/test_publishing_form.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: address shipping dialog review feedback
  src/kleinanzeigen_bot/publishing_form.py
  tests/unit/test_publishing_form.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: cover repeated shipping dialog fallback
  tests/unit/test_publishing_form.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: support redesigned shipping dialog actions (#1224)
  src/kleinanzeigen_bot/publishing_form.py
  tests/unit/test_publishing_form.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: harden publishing against DOM variants
  src/kleinanzeigen_bot/download_flow.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/publishing_form.py
  src/kleinanzeigen_bot/publishing_submission.py
  src/kleinanzeigen_bot/publishing_workflow.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_download_flow.py
  tests/unit/test_extract.py
  tests/unit/test_publishing_form.py
  tests/unit/test_publishing_submission.py
  tests/unit/test_publishing_workflow.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

test: cover publishing recovery fallbacks
  tests/unit/test_publishing_form.py
  tests/unit/test_publishing_submission.py
  tests/unit/test_publishing_workflow.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: address publishing review feedback
  src/kleinanzeigen_bot/publishing_form.py
  src/kleinanzeigen_bot/publishing_submission.py
  src/kleinanzeigen_bot/publishing_workflow.py
  tests/unit/test_extract.py
  tests/unit/test_publishing_form.py
  tests/unit/test_publishing_submission.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: normalize shipping navigation failures
  src/kleinanzeigen_bot/publishing_form.py
  tests/unit/test_publishing_form.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

fix: harden publishing against DOM variants (#1229)
  src/kleinanzeigen_bot/download_flow.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/publishing_form.py
  src/kleinanzeigen_bot/publishing_submission.py
  src/kleinanzeigen_bot/publishing_workflow.py
  src/kleinanzeigen_bot/resources/translations.de.yaml
  tests/unit/test_download_flow.py
  tests/unit/test_extract.py
  tests/unit/test_publishing_form.py
  tests/unit/test_publishing_submission.py
  tests/unit/test_publishing_workflow.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

enh: support Python 3.12 through 3.15
  .actrc
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/update-python-deps.yml
  AGENTS.md
  CONTRIBUTING.md
  README.md
  docker/image/Dockerfile
  pdm.lock
  pyproject.toml
  scripts/post_autopep8.py
  src/kleinanzeigen_bot/app.py
  src/kleinanzeigen_bot/cli.py
  src/kleinanzeigen_bot/download_selection.py
  src/kleinanzeigen_bot/extract.py
  src/kleinanzeigen_bot/login_flow.py
  src/kleinanzeigen_bot/model/ad_model.py
  src/kleinanzeigen_bot/model/config_model.py
  src/kleinanzeigen_bot/model/update_check_state.py
  src/kleinanzeigen_bot/published_ads.py
  src/kleinanzeigen_bot/publishing_form.py
  src/kleinanzeigen_bot/update_checker.py
  src/kleinanzeigen_bot/utils/color.py
  src/kleinanzeigen_bot/utils/dicts.py
  src/kleinanzeigen_bot/utils/misc.py
  src/kleinanzeigen_bot/utils/pydantics.py
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
  tests/smoke/test_smoke_health.py
  tests/unit/test_ad_status.py
  tests/unit/test_extract.py
  tests/unit/test_login_flow.py
  tests/unit/test_net.py
  tests/unit/test_price_reduction.py
  tests/unit/test_publishing_form.py
  tests/unit/test_publishing_persistence.py
  tests/unit/test_pydantics.py
  tests/unit/test_translations.py
  tests/unit/test_update_checker.py
  tests/unit/test_utils_misc.py
  tests/unit/test_version.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

fix: allow Python 3.15 prereleases in CI
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  docker/image/Dockerfile
Due: format-yaml

fix: stabilize Python 3.15 CI checks
  .github/workflows/build.yml
  src/kleinanzeigen_bot/utils/web_scraping_mixin.py
Due: format-python, format-yaml, lint-ruff, lint-mypy, lint-pyright, test-all

ci: publish stable Python 3.12 artifacts
  .github/workflows/build.yml
  docker/image/Dockerfile
Due: format-yaml

test: cover class name selector lookup
  tests/unit/test_web_scraping_mixin.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

docs: enforce conventional branch names
  AGENTS.md
Due: none

fix: address CodeRabbit review feedback
  CONTRIBUTING.md
  README.md
  tests/unit/test_update_checker.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

test: exercise empty preview releases path
  tests/unit/test_update_checker.py
Due: format-python, lint-ruff, lint-mypy, lint-pyright, test-all

chore: disable automatic incremental reviews
  .coderabbit.yaml
Due: format-yaml
